


	<% if @eventnews.any? %>

	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>

    <table id="admin_eventnew_list" style="width: 1200px;" title="Archive" >    	    	
	    <tr align="left">
		    <th field="id" width = "15"><h4><%= sortable "id", "ID" %></h4></th>
		    <th field="article_id" width = "15"><h4><%= sortable "article_id", "Article ID" %></h4></th>		
		    <!-- <th field="name_url" width = "20"><h4>URL</h4></th> -->		    
		    <th field="name_file" width = "20"><h4><%= sortable "name_file", "File" %></h4></th>
		    <th field="slug" width = "20"><h4>Slug</h4></th>		    		    
		    <th field="name_author" width = "15"><h4><%= sortable "name_author", "Author" %></h4></th>
		    <!-- <th field="name_admin" width = "15"><h4>Admin</h4></th>
		    <th field="key_words" width = "20"><h4>Key Words</h4></th>		    
		    <th field="date_article" width = "15"><h4>Date Article</h4></th> -->		    
		    <th field="created_at" width = "15"><h4><%= sortable "created_at", "Created" %></h4></th>
		    <th style="width: 50px;" field="updated_at" width = "25"><h4><%= sortable "updated_at", "Updated" %></h4></th>
		    <th field="article_type" width = "15"><h4><%= sortable "article_type", "Genre" %></h4></th>
		    <th field="description" width = "100"><h4>Description</h4></th>
		</tr>
		<% @eventnews.each do |eventnew| %>
	    <tr align="left">
		    <td width = "15"><h5><%= eventnew.id %></h5></td>
		    <td width = "15"><h5><%= eventnew.article_id %></h5></td>
		    <!-- <td width = "20"><h5><%= eventnew.name_url %></h5></td> -->		    
		    <td width = "20"><h5><%= eventnew.name_file %></h5></td>
		    <td width = "20"><h5><%= eventnew.slug %></h5></td>		    
		    <td width = "15"><h5><%= eventnew.name_author %></h5></td>
		    <!-- <td width = "15"><h5><%= eventnew.name_admin %></h5></td>
		    <td width = "20"><h5><%= eventnew.key_words %></h5></td>
		    <td width = "15"><h5><%= eventnew.date_article %></h5></td> -->		    
		    <td width = "15"><h5><%= eventnew.created_at.to_formatted_s(:db) %></h5></td>
		    <td style="width: 50px;" width = "25"><h5><%= eventnew.updated_at.to_s(:day_month_year) %></h5></td>
		    <td width = "15"><h5><%= eventnew.article_type %></h5></td>
		    <td width = "100"><h5><%= eventnew.description %></h5></td>
		    
		    <td width = "15"><h5>
		    <%= link_to('View', {:action => 'show', :id => eventnew.id}) %>		    		    	
			</h5></td>
		    <td width = "15"><h5>
			<%= button_to "Delete", {:action => 'destroy', :id => eventnew.id }, :method => :delete, data: { confirm: "Delete this record?" } %>		  
			</h5></td>
		     			    
		</tr>
		<% end %>	    	
	</table>
	<%= will_paginate @eventnews %>

	<% else %>
	<div class="row" style="color: red;">
		<h3>No record for Archives</h3>
	</div>
	<div class="row-end">&nbsp;</div>			

	<% end %>
				
<div class="row" style="height: 20px;"></div>
<div class="row-end">&nbsp;</div>				

<script>
	
	$(document).ready(function () {
	  $('*[data-confirm]').click(function(){
	    return confirm($(this).attr('data-confirm'));
	  });
	});
		
</script>
