<% provide(:title, 'About EdMatchUp') %>

	
	<div class="content shadow" style="height: 200px;">
		<div style="float: right; padding: 50px;">
			<%= image_tag("image_coming_soon_8k.png", :alt => 'Comming Soon') %>
		</div>
	</div>

	<div class="space-20"></div>

	<div class="table-yellow-edmatchup">
		<div class="row">
			<div class="cell-600">
				<table class="table-yellow">
					<div class="row">
						<div class="cell-100percent">
							<h3 style="padding: 0px 0px 0px 170px;">EdMatchUp</h3>
							<h4 style="padding: 0px 0px 0px 120px;">Digital Curriculum Matching</h4>
						</div>
					</div>
					<div class="row">
						<div class="cell-100percent">
							<h3 style="padding: 0px 0px 0px 130px;">Get Started - It's Free</h3>
							
						</div>
					</div>
					<div class="row">
						<div class="cell-100percent">
							<h4 style="padding: 0px 0px 0px 60px;display: inline-block;">SEARCH EdMatchUp</h4>													
							<input type="text" class="input-search-1" placeholder="Search" style="display: inline-block;">
						</div>
					</div>
					<div class="row">
						<div class="cell-100percent">
							<div style="display: inline-block;">
								<p style="line-height: 12px; font-size: 12px; font-weight: bolder; padding: 0px 0px 0px 60px;">
									Create<br>
									Product<br>
									or<br>
									Inventory<br>
									Profile<br><br><br>
								</p>
							</div>
							
							<% if !session[:signed_in] %>
								<%= render 'layouts/menu_accounts' %>
							<% else %>
								<%= render 'layouts/menu_accounts_signed_in' %>    							
							<% end %>
							
						</div>
					</div>
				</table>
			</div>
			<div class="cell-300" style="padding: 10px 20px 40px 0px;">
				<h4>How does it work?</h4>
	  			<%= image_tag("image_edmatchup_works.png", :width => '300',  :alt => '') %>
			</div>
		</div>
	</div>
	
	<div class="space-20"></div>
	
	<div class="content">
		<div class="shadow" align="center">
			<%= image_tag("image_edmatchup.png", :alt => 'image_edmatchup.png') %>
		</div>
	</div>

	<div class="space-20"></div>
	
