
	
	<div class="row" style="height: 10px"></div>
	<div class="row-end">&nbsp;</div>										
	
	<div class="row">
		
		<div class="col7">
			<div class="row">
				<div class="col2">
	  				<%= image_tag("image_learning_counsel.png", :alt => '') %>
				</div>
				<div class="col2">
	  				<%= image_tag("image_header_1.jpg", :alt => '') %>
				</div>
				<div class="col3">
	  				<%= image_tag("image_header_2.jpg", :alt => '') %>					
				</div>
				<div class="row-end">&nbsp;</div>		
			</div>
			<div class="row">
				<div class="col2" style="font-size: 10px">
					<p>News and Content on the Shift to Digital Curriculum</p>				
				</div>
				<div class="col5" style="font-size: 12px">
					<h4>Featured News Stream</h4>					
				</div>
				<div class="row-end">&nbsp;</div>										
			</div>			
		</div>
		
		<div class="col5">
			<div style="width: auto;height:120px;background-color:white;box-shadow: 1px 1px 10px #888888;padding: 10px 10px 10px 30px">
				<h3>Ad Block</h3>
			</div>
		</div>		
		<div class="row-end">&nbsp;</div>		
	</div>



	<div class="row" style="height: 10px"></div>
	
	<div class="row" style="background-color: yellow; padding: 0px 0px 0px 0px;">
		
		<div class="col7">
			<div class="row">
				<div class="col7">
					<h3 style="padding: 0px 0px 0px 20px;">EdMatchUp</h3>
				</div>
				<div class="row-end">&nbsp;</div>		
			</div>
			
			<div class="row">
				<div class="col7">
					<h4 style="padding: 0px 0px 0px 20px;">Digital Curriculum Matching</h4>
				</div>				
				<div class="row-end">&nbsp;</div>										
			</div>
			
			<div class="row">
				<div class="col7">
					<h3 style="padding: 0px 0px 0px 20px;">Get Started - It's Free</h3>
				</div>				
				<div class="row-end">&nbsp;</div>										
			</div>
			
			<div class="row">
				<div class="col7">
					<table style="padding-left: 20px">
						<tr>
							<td>
								<h4 style="padding: 0px 0px 0px 0px;">SEARCH EdMatchUp</h4>													
							</td>
							<td>
								<input type="text" class="form-control" placeholder="Search">
							</td>
						</tr>
					</table>
				</div>				
				<div class="row-end">&nbsp;</div>										
			</div>									

			<div class="row">
				<div class="col7">
					<table style="padding-left: 20px">
						<tr>
							<td>
								<p style="line-height: 12px; font-weight: bolder;">
									Create<br />
									Product<br />
									or<br />
									Inventory<br />
									Profile
								</p>
							</td>
							<td>
							</td>
							<td>
								<%= link_to image_tag("button_schools.jpg", alt: "Schools", :width => '70'), {:controller => 'users', :action => 'new', :id => 'School'} %>
							</td>
							<td>
								<%= link_to image_tag("button_teachers.jpg", alt: "Teachers", :width => '70'), {:controller => 'users', :action => 'new', :id => 'Teacher'} %>
							</td>
							<td>
								<%= link_to image_tag("button_students.jpg", alt: "Students", :width => '70'), {:controller => 'users', :action => 'new', :id => 'Student'} %>
							</td>
							<td>
								<%= link_to image_tag("button_publishers.jpg", alt: "Publishers", :width => '70'), {:controller => 'users', :action => 'new', :id => 'Publisher'} %>
							</td>
						</tr>
						<tr style="line-height: 1px">
							<td>
							</td>
							<td>
							</td>							
							<td>
								<h4>Schools</h4>
							</td>
							<td>
								<h4>Teachers</h4>
							</td>
							<td>
								<h4>Students</h4>
							</td>
							<td>
								<h4>Publishers</h4>
							</td>										
						</tr>
					</table>
				</div>				
				<div class="row-end">&nbsp;</div>										
			</div>			
		</div>
		
		<div class="col5">
			<div class="row">
				<div class="col5">
					<h4>How does it work?</h4>
				</div>
				<div class="row-end">&nbsp;</div>						
			</div>			
			<div class="row">
				<div class="col5">				
					<div>
		  				<%= image_tag("image_edmatchup_works.png", :width => '300',  :alt => '') %>			
					</div>
					<div class="row-end">&nbsp;</div>
				</div>						
			</div>
			
		</div>		
		<div class="row-end">&nbsp;</div>		
		
		<div class="row" style="height: 10px"></div>
		<div class="row-end">&nbsp;</div>		
			
	</div>
