<% provide(:title, 'News') %>
<h1>News</h1>

    <%= form_for(:customer, :url => {:controller => "subscribers", 
    								 :action => "change_password"}, 
    								 :html => {:id => 'edit_password_form', :method => :get, :onsubmit => "return false;"}) do |f| %>
    								 
  	<%= hidden_field_tag "ids", :id => "ids"%>
  
  	<div class="ports-fields">
	    <div class="pass">
	      <label style="margin-top:4px;">Password</label> <%= f.password_field :password, :class=> 'fields', :placeholder => 'Password' %>
	    </div>
	    <div class="pass"><label>Confirm
	      Password</label> <%= f.password_field :password_confirmation, :class=> 'fields', :placeholder => 'Password Confirmation' %>
	    </div>
	    <div class="change-pass-btn-submit"> <%= submit_tag "CHANGE PASSWORD", :id => "edit_password_btn" %></div>
	    <!--modify ports ends-->
  	</div>
  
<script type="text/javascript">

	$("#edit_port_btn").click(function() {
   		var container = $("#info");
    	$("#edit_port_form").submit(function() {
        $(this).unbind('submit').ajaxSubmit({
            	success: function(data) {
                	container.html(data);
                	hudMsg('success', 'Modify ports successfully.');
            	}
        	})
    	});
  	});

</script>




<% if false %>

    		 <form id="join_form" method="post" action="/users/create">
    		     		
			<div class="row">
				<div class="cell-left-signin">
					<%= label_tag(:name_first, "First Name", :class => 'input-label') %>
				</div>
				<div class="cell-right-signin">
					<input name="name_first" class="input-form" placeholder="Firstname" id="firstname" required />
				</div>      	
			</div>      		
	
			<div class="input-form-spacer"></div>
	
			<div class="row">
				<div class="cell-left-signin">
					<%= label_tag(:name_last, "Last Name", :class => 'input-label') %>
				</div>
				<div class="cell-right-signin">
					<input name="name_last" class="input-form" placeholder="Lastname" required />
				</div>      	
			</div>      		
	
			<div class="input-form-spacer"></div>
	
			<div class="row">
				<div class="cell-left-signin">
					<%= label_tag(:email, "Email", :class => 'input-label') %>
				</div>
				<div class="cell-right-signin">
					<input name="email" class="input-form" placeholder="email@example.com" required />
				</div>      	
			</div>      		
	
			<div class="input-form-spacer"></div>
			
			<div class="row">
				<div class="cell-left-signin">
					<%= label_tag(:username, "Username", :class => 'input-label') %>
				</div>
				<div class="cell-right-signin">
					<input name="username" class="input-form" placeholder="Username" required />					
				</div>      	
			</div>
	
			<div class="input-form-spacer"></div>
			
			<div class="row">
				<div class="cell-left-signin">
					<%= label_tag(:password, "Password", :class => 'input-label') %>
				</div>
				<div class="cell-right-signin">
					<input name="password" class="input-form" type="password" required />
				</div>      	
			</div>      		
	
			<div class="input-form-spacer"></div>
	
			<div class="row">
				<div class="cell-left-signin">
					<%= label_tag(:password_confirmation, "Confirmation", :class => 'input-label') %>
				</div>
				<div class="cell-right-signin">
					<input name="password_confirmation" class="input-form" type="password" required />
				</div>      	
			</div>      		

			<div class="input-form-spacer"></div>
			<div class="input-form-spacer"></div>
			<div class="input-form-spacer"></div>
	
			<div class="row">
				<div class="cell-left-signin">
				</div>
				<div class="cell-submit-signin">
					<%= submit_tag "Submit", :class => 'btn styled', :id => "submit_join", :onclick=>"javascript:submitForm()" %>
				</div>      	
			</div>      		

<% end %>
