<!DOCTYPE html>
<html>
	<head>
		<title>Вход на сайт</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="apple-touch-icon-precomposed" href="http://images.wambacdn.net/images/default2/mamba/apple-touch-icon-57x57-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://images.wambacdn.net/images/default2/mamba/apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://images.wambacdn.net/images/default2/mamba/apple-touch-icon-114x114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://images.wambacdn.net/images/default2/mamba/apple-touch-icon-144x144-precomposed.png">

		<script>
			(function() {
				var nolocal = true;
				try {
					top.location.href
					nolocal = false;
				} catch(e) {
				}
				if (top != self && nolocal) {
					top.location.href = self.document.location.href;
				}
			})();
		</script>
		<script>
			window.stats = window.stats || {};
			window.stats.scriptName = 'mamba:/tips/index.phtml';
			window.stats.jsErrorUrl = '/stat/js-error.phtml';
			window.stats.jsErrorDebug = true;
		</script>
		<script src="http://images.wambacdn.net/images/default2/default/jsCore/mambo/stats/Stats.min.js?v=20130909"></script>

		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/default/styles/base.css?v=201310031246" />
		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/default/styles/_style.css?v=201310031246" />
		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/default/styles/layers/layers.css?v=201307081258" />
		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/default/styles/anketa.css?v=201309301229" />
		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/default/styles/top100.css?v=201304011335" />
		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/default/styles/app.css?v=201304011335" />

		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/default/styles/_ui-userbar.css?v=201309301229" />
		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/default/styles/newAnketa.css?v=201308191225" />
		<link rel="stylesheet" type="text/css" href="http://images.wambacdn.net/images/default2/mamba/_partner.css?v=201303071404"/>

		<script>
			if (window.stats) {
				stats.toCookie('cssloaded');
			}
		</script>
		<style>
			.js-hide {
				display: none;
			}
		</style>
		<noscript>
			<style>
				.js-hide {
					display: block;
				}
			</style>
		</noscript>
		
		
		
		<script src="http://images.wambacdn.net/images/ver3/default2/default/jsCore/lang/ru.js"></script>
		<script src="http://images.wambacdn.net/images/default2/default/jsCore/jquery/jquery-1.8.2.min.js"></script>
		<script src="http://images.wambacdn.net/images/ver201310031245/default2/default/jsCore/build/core.js"></script>

		<script>
			if (window.stats) {
				stats.toCookie('jsloaded');
				$(document).on('ready', function() {
					stats.toCookie('ready');
				});
				$(window).on('load', function() {
					stats.toCookie('load');
				});
			}
		</script>

	</head>
	<body class="auth-false id3">

		<div id="section:page" class="section-page no-overlays">
			<div class="section-page-min-height">
				<div class="section-page-inner">

					<div class="ui-menu-cont">
						<div class="ui-menu-maxwidth" class="clearFix">
							<div id="logo">
								<a href="http://www.mamba.ru/ru/"><img src="http://images.wambacdn.net/images/default2/default/ui-userbar/logo.png" alt="logo" /></a>
							</div>
							<ul class="ui-menu">
								<li class="ui-menu-search " >
									<a href="http://www.mamba.ru/ru/search.phtml?rl=1" >Поиск</a>
								</li>
								<li class="ui-menu-rating " >
									<a href="http://www.mamba.ru/ru/top/rating.phtml?rating_id=50002" rel="nofollow">Топ-100</a>
								</li>
								<li class="ui-menu-app " >
									<a href="/app_platform/" >Приложения</a>
								</li>
								<li class="last dropdown-toggle">
									<span class="dropdown-link"> <a href="#">Еще</a><b class="lb"></b><b class="rb"></b> </span>
									<ul class="dropdown-menu">
										<li class="ui-menu-travel">
											<a href="/travel/" class="">Попутчики</a>
										</li>
										<li class="ui-menu-placecard">
											<a href="/placecard/" class="">Свидания</a>
										</li>
										<li class="ui-menu-diary">
											<a href="/diary/" class="">Дневники</a>
										</li>
										<li class="delimiter"></li>
										<li class="ui-menu-mobile">
											<a href="/mobile/" class="">Для мобильного</a>
										</li>
									</ul>
								</li>
							</ul>

						</div>
					</div>


				</div>


				<div class="ui-menu-slide-wrapper" data-userbar-init="">
					<div class="MinimalWidth ui-menu-slide ui-sticky">
						<div class="MW-Fix">
							<div class="ui-userbar-cont">
								<div class="ui-userbar">

									<ul class="ui-usermenu-left">
										<li class="ui-usermenu-item ">
											<a href="http://www.mamba.ru/ru/my/reg.phtml" class="item" rel="nofollow"> <span class="ui-userbar-icon icon-signup">Регистрация</span> </a>
										</li>
										<li class="ui-usermenu-delimiter"></li>

										<li class="ui-usermenu-item ui-usermenu-item-no-active">
											<span class="item"> <b>469 128</b> человек
												сейчас на сайте </span>
										</li>
									</ul>

									<ul class="ui-usermenu-right">
										<li class="ui-usermenu-item ui-usermenu-item-no-active lang-selector">
											<span class="lang-swith"> <img alt="#" src="http://images.wambacdn.net/images/default2/default/lang/l2.gif"> </span>
											<ul>
												<li class="">
													<a class="js-lang-switcher"  href="/en/" data-lang_id="3">English</a>
												</li>
											</ul>
										</li>
										<li class="ui-usermenu-delimiter"></li>
										<li class="ui-usermenu-item ui-usermenu-item-last ">
											<a class="item" href="http://www.mamba.ru/ru/support.phtml">Помощь</a>
										</li>
									</ul>

								</div>
							</div>
						</div>
					</div>

				</div>


						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>

		</div>
	</body>
</html>













		<header>					
	    		<%= render 'layouts/flash_alert' %>

			<div style="width: 1000px; background-color: white; display: table;">			
				
				<div class="row">
					<div class="cell-250" style="padding-left: 10px;">
			  			<%= image_tag("image_learning_counsel.png", :alt => '') %>
			  		</div>
					<div class="cell-100">
			  			<%= image_tag("image_header_1.jpg", :alt => '') %>					
			  		</div>
					<div class="cell-100">
						<%= image_tag("image_header_2.jpg", :alt => '') %>
			  		</div>
					<div class="table-main">
						<div class="row">
							<div class="cell-100percent" style="border-width: 1px; border-color: black;">
								<div id="main_header_adblock_1">
									<h3>Ad Block</h3>
								</div>
					  		</div>
						</div>
					</div>		  		
			  		
			  	</div>
			</div>
			<div class="table-main"
				<div class="row">
					<div class="cell-100" style="padding-left: 10px;">
						<p>News and Content on the Shift<br>to Digital Curriculum</p>
			  		</div>
					<div class="cell-80">
			  		</div>		  		
					<div class="cell-250">
						<h4>Featured News Stream</h4>
			  		</div>
			  		<div class="cell-200">
			  			<%= link_to "Browse downloads &raquo;".html_safe, '#', :class => 'link-to-right' %>
			  		</div>
			  	</div>
			</div>
			
			
		</header>		
			
			
		<section>
			
			<div style="background-color: white; height: 500px;">
				
				<div style="height: 50px;"></div>
				
				<div align="center">			
					<%= button_to "Sign up", {:controller => 'users', :action => 'new', :id => 'Student'}, class: "button3" %>
				</div>
	
				<div style="height: 50px;"></div>
	
	
			    <div id="featured_slide">
			      <ul>
			      	
			        <li><%= image_tag("image_books.jpeg") %>
			          <div class="panel-overlay">
			            <h3>The Learning Counsel</h3>
			            <p><a href="#">About US &raquo;</a></p>
			          </div>
			        </li>
			      	
			        <li><%= image_tag("image_books.jpeg") %>
			          <div class="panel-overlay">
			            <h3>EdMatchUp</h3>
			            <p><a href="#">About our EdMatchUp service &raquo;</a></p>
			          </div>
			        </li>
	
			        <li><%= image_tag("image_books.jpeg") %>
			          <div class="panel-overlay">
			            <h3>Create Your Profile</h3>
			            <p>Schools Publishers Students Teachers Recruiters &nbsp&nbsp<a href="#" style="display: inline;">more &raquo;</a></p>
			          </div>
			        </li>
			        
			      </ul>
			    </div>
							
			</div>
			
		</section>
		
	<div class="space-20"></div>
