<% provide(:title, 'Sign In') %>

	<style>
	
		#signin-page {
			height: 800px;
		}
	
		#signin-page #signin-page-inner {
		    width: 50%;
		    margin: 0 auto;
		}	

		div .table-signin {
			display: table;
			background-color: #DEDB3C;
			width: 600px;
			border-radius: 20px;
			border:2px solid #254520;
			box-shadow: 1px 1px 10px #888888;
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 60px;
		}
	
		.input-signin {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 16px;
			width: 300px;
			height: 24px;
			border-style:solid;
			border-radius: 4px;
			background-color: #fff;
			border-color: #000;
			border-width: 1px;
			padding-left: 6px;
		}
	
		.input-signin:focus {
			border-color: #3949C4;
			color: #000;
			-webkit-box-shadow: 0 0 10px #3949C4;
			-moz-box-shadow: 0 0 10px #3949C4;
			box-shadow: 0 0 10px #3949C4;
		}
			
		.input-label-signin {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			width: 220px;
			height: 18px;
		}
			
		.input-signin-spacer {
			height: 16px;
		}
			
		div .cell-right-signin-admin {
			display: table-cell;
			width: 50%;
			text-align: left;
			align: top;		
		}
	
		div .cell-left-signin-admin {
			display: table-cell;
			width: 20%;	
			align: top;
			text-align: right;		
			padding-right: 20px;
		}
		
		div .cell-submit-signin-admin {
			display: table-cell;
			width: 50%;
			text-align: left;
			align: top;		
			padding-left: 0px;
		}
		
		.signin-btn {
		  
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 308px;
		  	height: 30px;
		  	background: linear-gradient(#000, #000);
		  	text-shadow: 1px 1px 1px #0E86B2; 
		  	border-radius: 6px;
		}
	
		.signin-btn:focus {
		  background: #CCC; 
		  color: #5F7A2A;
		  box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}
		
		.signin-btn:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(255,255,255,0.3);
		}
		
		.signin-btn:active { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(0,0,0,0.3); 
		}
		
	</style>


	<div id="signin-page">
		
		<header>
	
			<div style="height: 200px;"></div>
			
		</header>
		
		
		<div id="signin-page-inner">
			
			<div class="table-signin">
				<div class="row">
					
					<div class="cell-100percent">
						
				    	<%= form_for(:session, url: sessions_path) do |f| %>	
						<!-- = render 'shared/error_messages', object: f.object -->			
					
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:username, 'Username', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :username, :class => "input-signin", :autofocus => true %>	
							</div>      	
						</div>
						
						<div class="input-signin-spacer"></div>
						      		
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:password, 'Password', class: 'input-signin-label') %>					
							</div>
							<div class="cell-right-signin-admin">
								<%= f.password_field :password, class: 'input-signin' %>
								<div style="height: 30px;"></div>
								<%= f.submit "Sign In", class: 'signin-btn' %>
							</div>      	
						</div>      		
											
						<% end %>
						
					</div>
					
				</div>
				
			</div>
			
		</div>	
		
	</div>