<div class="wrapper">
  <div id="copyright" class="clear">
    	<p>
		    <%= link_to 'Homepage', home_path %>&nbsp;&nbsp;&nbsp;&nbsp;
		    <%= link_to 'About Us', about_path %>&nbsp;&nbsp;&nbsp;&nbsp;
		    <%= link_to 'Contact Us', contacts_path %>&nbsp;&nbsp;&nbsp;&nbsp;
		    <%= link_to 'Blogs', blogs_path %>&nbsp;&nbsp;&nbsp;&nbsp;
		    <%= link_to 'Directory', directory_path %>&nbsp;&nbsp;&nbsp;&nbsp;
		    <%= link_to 'Industry News', news_path %>&nbsp;&nbsp;&nbsp;&nbsp;
		    <%= link_to 'Services', services_path %>&nbsp;&nbsp;&nbsp;&nbsp;
		    
			<% if session[:admin].blank? %>
			<%= link_to 'Admin', admin_users_index_path %>
			<% end %>
		    
		    
		    
		</p>
  </div>
</div>
