<div class="wrapper row4">
  <div id="footer" class="clear">
  	
  	
    <div class="footbox">
      <h2>Quick Links</h2>
      <ul>
	    <li><%= link_to "&raquo;".html_safe + ' Homepage', home_path %></li>
	    <li><%= link_to "&raquo;".html_safe + ' About Us', about_path %></li>	    
	    <li><%= link_to "&raquo;".html_safe + ' Contact Us', contacts_path %></li>
 	    <li><%= link_to "&raquo;".html_safe + ' Blogs', blogs_path %></li>
 	    <li><%= link_to "&raquo;".html_safe + ' Directory', directory_path %></li>
 	    <li><%= link_to "&raquo;".html_safe + ' Industry News', news_path %></li>
 	    <li><%= link_to "&raquo;".html_safe + ' Services', services_path %></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>How To Find Us</h2>
      <address>
      Address Line 1<br />
      Address Line 2<br />
      Town/City<br />
      Postcode/Zip<br />
      <br />
      Tel: xxxx xxxx xxxxxx<br />
      Email: <a href="#">contact@domain.com</a>
      </address>
    </div>
    <div class="fl_right">
      <div id="social">
        <h2>Connect With Us</h2>
        <ul>
          <li><a href="#"><%= image_tag("socialfacebook.gif", :alt => 'facebook') %></a></li>
          <li><a href="#"><%= image_tag("socialtwitter.gif", :alt => 'twitter') %></a></li>
          <li><a href="#"><%= image_tag("socialflickr.gif", :alt => 'flickr') %></a></li>
          <li><a href="#"><%= image_tag("socialyoutube.gif", :alt => 'youtube') %></a></li>
          <li class="last"><a href="#"><%= image_tag("socialrss.gif", :alt => 'rss') %></a></li>
        </ul>
      </div>
      <div id="newsletter" class="clear">
        <form action="#" method="post">
          <fieldset>
            <legend>Subscribe To Our Newsletter:</legend>
            <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
            <input type="text" id="subscribe" value="Submit" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
