
		
<ul class="wsb-navigation-rendered-top-level-menu ">
	<li style="width: auto" class="active">
		<%= link_to 'Home', home_path %>
		<!-- <a href="home.html" data-title="Home" data-pageid="335616" data-url="/home">Home</a> -->
	</li>
	<li style="width: auto">
		<%= link_to 'Industry News', news_path %>
		<!-- <a href="industry_news.html" data-title="INDUSTRY NEWS" data-pageid="68414016" data-url="/news">INDUSTRY NEWS</a> -->
	</li>
	<li style="width: auto">
		<%= link_to 'Blogs', blogs_path %>
		<!-- <a href="blogs.html" data-title="Blogs" data-pageid="68433299" data-url="/blogs">Blogs</a> -->
	</li>
	<li style="width: auto">
		<%= link_to 'About', about_path %>
		<!-- <a href="about.html" data-title="About" data-pageid="336327" data-url="/about">About</a> -->
	</li>
	<li style="width: auto">
		<%= link_to 'Services', services_path %>
		<!-- <a href="services.html" data-title="Services" data-pageid="11144655" data-url="/services">Services</a> -->
	</li>
	<li style="width: auto">
		<%= link_to 'Directory', directory_path %>
		<!-- <a href="contact.html" data-title="Contact" data-pageid="336329" data-url="/directory">Directory</a> -->
	</li>
	<li style="width: auto">
		<%= link_to 'Survey', user_surveys_path %>
		<!-- <a href="contact.html" data-title="Contact" data-pageid="336329" data-url="/directory">Directory</a> -->
	</li>
	<li style="width: auto">
		<%= link_to 'Resources', user_vendors_path %>
		<!-- <a href="contact.html" data-title="Contact" data-pageid="336329" data-url="/directory">Directory</a> -->
	</li>			
	<li style="width: auto">
		<%= link_to 'Contact Us', user_contacts_path %>
		<!-- <a href="directory.html" data-title="DIRECTORY" data-pageid="74158100" data-url="/user_contacts">Contact</a> -->
	</li>
</ul>


