    <div class="fl_right">
    	
      <!-- <p><a href="#">A - Z Index</a> | <a href="#">Student Login</a> | <a href="#">Staff Login</a></p> -->
            
      <p><%= link_to 'Schools', institutes_path %> | <%= link_to 'Publishers', publishers_path %> | <%= link_to 'EdMatchUp Service', edmatchups_path %> | <%= link_to 'Sign In', sessions_new_path %> | <%= link_to 'Register', users_new_path %> | <%= link_to 'Sign Out', signout_path %></p>
      
      <form action="#" method="post" id="sitesearch">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <%= image_tag("search.png", :id => 'search', :alt => 'Search') %>
        </fieldset>
      </form>
      <p><%= session[:username] %></p>

    </div>
