<div class="wrapper">
  <div id="copyright" class="clear">

    <p>
    <%= link_to 'home_1', home_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;    	
    <%= link_to 'about_1', about_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'blogs_1', blogs_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'directory_1', directory_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'news_1', news_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'services_1', services_1_path %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to 'Admin', admin_users_index_path %>
	</p>
    
  </div>
  <div id="copyright" class="clear">
    <p>
        <%= link_to 'Styles', demostyle_path %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Full Width', demofullwidth_path %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to '3 Columns', democolumns3_path %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Portfolio', demoportfolio_path %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Gallery', demogallery_path %>
	</p>
  </div>
</div>

