<% @title = "Stores Edit" %>

	<style>
	
		#signin-page {
			/*height: 800px;*/			
		}
	
		#signin-page #signin-page-inner {
		    width: 60%;
		    margin: 0 auto;
		}	

		div .table-signin {
			display: table;
			background-color: #BFBD47;
			width: 700px;
			border-radius: 20px;
			border:2px solid #254520;
			box-shadow: 1px 1px 10px #888888;
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 40px;
		}
	
		.input-signin {
			font-family: Arial, Helvetica, sans-serif;
			color: #000;			
			font-size: 16px;
			width: 300px;
			height: 24px;
			border-style:solid;
			border-radius: 4px;
			background-color: #fff;
			border-color: #000;
			border-width: 1px;
			padding-left: 6px;
		}
	
		.input-signin:focus {
			border-color: #3949C4;
			color: #000;
			-webkit-box-shadow: 0 0 10px #3949C4;
			-moz-box-shadow: 0 0 10px #3949C4;
			box-shadow: 0 0 10px #3949C4;
		}

		.input-signin:disabled {
			border-color: #523401;
			color: #523401;
			background-color:#CCCBC8;
		}
			
		.input-label-signin {
			font-family: Arial, Helvetica, sans-serif;
			color: #000;
			font-size: 16px;
			width: 220px;
			height: 18px;
		}

		.input-label-signin:disabled {
			font-family: Arial, Helvetica, sans-serif;
			color: #523401;
		}
			
		.input-signin-spacer {
			height: 16px;
		}
			
		div .cell-right-signin-admin {
			display: table-cell;
			width: 50%;
			text-align: left;
			align: top;		
		}
	
		div .cell-left-signin-admin {
			display: table-cell;
			width: 36%;	
			align: top;
			text-align: right;		
			padding-right: 20px;
		}
		
		div .cell-submit-signin-admin {
			display: table-cell;
			width: 50%;
			text-align: left;
			align: top;		
			padding-left: 0px;
		}
		
		.signin-btn {
		  
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 308px;
		  	height: 30px;
		  	background: linear-gradient(#000, #000);
		  	text-shadow: 1px 1px 1px #0E86B2; 
		  	border-radius: 6px;
		}
	
		.signin-btn:focus {
		  background: #CCC; 
		  color: #5F7A2A;
		  box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}
		
		.signin-btn:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(255,255,255,0.3);
		}
		
		.signin-btn:active { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(0,0,0,0.3); 
		}
		
	</style>


	<div id="signin-page">
		
		<header>
	
			<%= render 'share/backtotop' %>
			
			<div style="height: 40px;"></div>
			
		</header>
		
		
		<div id="signin-page-inner">
			
			<div class="table-signin">
				<div class="row">
					
					<div class="cell-100percent">

  						<%= form_for(:store, :url => {:action => 'update', :id => @store.id}) do |f| %>
					
						<!-- 
						#  id               :integer          not null, primary key
						#  created_at       :datetime
						#  updated_at       :datetime
						#  name_type    	:string(50)
						#  salutation   	:string(50)
						#  name_first       :string(50)
						#  name_last        :string(50)
						#  name_title       :string(50)
						#  institute        :string(100)
						#  department       :string(100)
						#  address_1        :string(100)
						#  address_2        :string(100)
						#  city             :string(50)
						#  state 			:string(50)
						#  zip              :string(50)
						#  country          :string(100)
						#  phone            :string(50)
						#  fax              :string(50)
						#  phone_direct     :string(50)
						#  phone_mobile     :string(50)
						#  email    		:string(100)
						#  website    		:string(100)  
						-->
					
					
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:id, 'ID', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :id, :class => "input-signin", :disabled => true %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:created_at, 'created_at', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :created_at, :class => "input-signin", :disabled => true %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:updated_at, 'updated_at', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :updated_at, :class => "input-signin", :disabled => true %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:name_type, 'Type', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :name_type, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:salutation, 'Salutation', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :salutation, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:name_first, 'name_first', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :name_first, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:name_last, 'name_last', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :name_last, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:name_title, 'name_title', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :name_title, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:institute, 'Institute', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :institute, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:department, 'Department', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :department, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:address_1, 'Address 1', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :address_1, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:address_2, 'Address 2', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :address_2, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city, 'City', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:state, 'State', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :state, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:zip, 'Zip/Postal Code', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :zip, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:country, 'Country', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :country, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:phone, 'Main Phone', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :phone, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:fax, 'Fax', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :fax, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:phone_direct, 'Direct Phone', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :phone_direct, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:phone_mobile, 'Mobile Phone', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :phone_mobile, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:email, 'email', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :email, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:website, 'Website', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :website, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>


						<div class="input-signin-spacer"></div>
						<div class="input-signin-spacer"></div>
						      		
						<div class="row">
							<div class="cell-left-signin-admin">
							</div>
							<div class="cell-right-signin-admin">
								<div style="height: 30px;"></div>
								<%= f.submit "Update", class: 'signin-btn' %>
							</div>      	
						</div>      		
											
						<% end %>
						
					</div>
					
				</div>
				
			</div>
			
		</div>	
		
	</div>
	
	<div style="height: 100px;"></div>



