<h1>user_publishers new</h1>

<div class="wrapper row3">
  <div id="container" class="clear">
  	
  	<div>
		<%= link_to "Return", home_path %>
	</div>	
  	
    <div id="content">
      
      <h2>Publisher Create Login</h2>
      
      <div id="respond">
		
		<%= form_for(:user_publishers, :url => {:action => 'create'}) do |f| %>
      	
			<table summary="User Publishers Create Password">
				
			  <tr>
			    <th><%= f.label(:username) %></th>
			    <td><%= f.text_field(:username) %></td>
			  </tr>
			  <tr>
			    <th><%= f.label(:password) %></th>
			    <td><%= f.password_field(:password) %></td>
			  </tr>
			  
			</table>
		    <div class="form-buttons">
		      <%= submit_tag('Submit') %>
		    </div>
	  
	  	<% end %>
        
      </div>
      
    </div>
    
  </div>
</div>
