<% provide(:title, 'About Us') %>

<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="content">
      <h1>Leilani Cauthen, Executive Director</h1>
      
      <%= image_tag("/assets/image_lani.jpeg", :class => 'imgr', :style => 'width:130px;height:130px', :alt => '') %>
      
      <p>Well versed&nbsp;in digital content and curriculum change, the adoption process, successful strategies, and helping schools understand what's available and what will work.</p>
		<div>
			<ul>
				<li>
					Former Publisher, Center for Digital Education <em>Special Reports</em>
				</li>
				<li>
					Former Vice President, Center for Digital Education<em></em><em></em><em></em>
				</li>
				<li>
					Media, research, marketing and sales professional with 26 years experience in high tech and Education sector.&nbsp;
				</li>
			</ul>
      	</div>
      	
	  <br />
	  <br />
	  	
      <h1>David Kafitz, VP Consulting</h1>

      <%= image_tag("/assets/image_david.jpeg", :class => 'imgr', :style => 'width:130px;height:130px', :alt => '') %>
            
      <p>Expert and charismatic change-agent helping schools move forward with a well-reasoned strategy for digital content and curriculum with complementary personnel and IT strategy.</p>
      
		<ul>
			<li>
				Former Superintendent, Watauga County Schools, Boone, NC
			</li>
			<li>
				Former Principal, East Elementary School, &amp; New Town Elementary, Union County Public Schools
			</li>
			<li>
				Former Director Technology Services, Union County Public Schools
			</li>
			<li>
				Consultant on IT and Education with a track record of real-life implementations.&nbsp;
			</li>
		</ul>

      <h1>Who are we?</h1>
            
      <p>Our Mission</p>
      <p>resources and perspective</p>
      <p>The more than $15 Billion curriculum industry is in transition, maneuvering through the intersection of policy, technology leadership, old habits and new enthusiasms.&nbsp; The Learning Counsel seeks to bring consulting and online resources for everyone in the fray, from school seekers-of-resources to industry partners in need of services.&nbsp;&nbsp;We&nbsp;are building an agnostic media and sharing platform&nbsp;to advise schools on&nbsp;all things related to&nbsp;digital content and curriculum.</p>

		<ul>
			<li>
				A forthcoming Directory Service for data on digital content and curriculum with a <em>special twist. </em>
			</li>
			<li>
				<em></em>Consulting on the Education market's transition to all digital content.
			</li>
			<li>
				Research
			</li>
			<li>
				Custom Publishing
			</li>
			<li>
				Events
			</li>
			<p>
				&nbsp;
			</p>
		</ul>

      <div id="comments">
      </div>
      
    </div>


    
    <div id="column">
      <div class="subnav">
      	
      </div>
      
      
      <div id="featured">
      	
      </div>
      
      <div class="holder">
      	
      </div>
      
    </div>
  </div>
</div>
