<% provide(:title, 'Blogs') %>

<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>
<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="content">
    	
    	
    	
    	<div id="comments">
      	
	        <h2>Comments</h2>
	        <ul class="commentlist">
	        	
	          <li class="comment_odd">
	            <div class="author">
	            	            	
	            	<span class="wrote"></span><span class="name"><a href="#">Lei Lani Cauthen</a></span></div>
	            <div class="submitdate"><a href="#">The Learning Counsel -- Sept 2013</a></div>
	            <p></em>My dad was a teacher that taught high school English, history, ran the photography class, and coached basketball.&nbsp; It was a pretty small school district and teachers were multi-taskers.&nbsp;&nbsp; He would be the first to question an educational system that, for sake of efficiency, used more technology and fewer teachers. He would question such a reality because he was a real master of his flock of students.&nbsp; He was well beyond a guide and source of information, he was an entertainer and challenger-of-minds.&nbsp; It is my experience that such a teacher is not every teacher.&nbsp; Far from it, and yet we’re set up as a nation with a system of education that would have every teacher be that ideal.&nbsp;&nbsp; In this year 2012, we should consider how we feel about a profession that would demand such a high level of art from more than 3 million people.&nbsp; That’s a tremendous pool of would-be talent and incredibly expensive.&nbsp; Just do the math for the median salary at $49,228 (<a href="http://www.teacherportal.com/teacher-salaries-by-state/" target="">http://www.teacherportal.com/teacher-salaries-by-state/</a> ) and 3 Million Teachers – that’s $150 Billion.&nbsp; Add in the phenomenal benefits packages, and … <br>Well, you have the idea. <br> The fact is, while hard to admit, we have never really had a gifted and brilliant teacher for every classroom.&nbsp; We have had mediocrity and sometimes even abject failures for teachers.&nbsp; Unlike in business, the kids don’t ask for a refund.&nbsp; They just move on, or fail on, without recourse.&nbsp; <br>Since technology makes it possible for truly engaging, remedial, personalized and fully vetted materials, and the prospect of lectures by the best being reused innumerable times, education is at a new crossroads of potential. What if you could supplement mediocrity with some phenomenal YouTube lectures? Or set the smartest kids off on an online curriculum that runs them right up to college credit-level work? <br>The leaders of the education sector need to consider some new teacher-features.<br /><br /><strong>Teacher Features for the 22nd Century? </strong><br>1)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;High tolerance of change.&nbsp; The supersonic growth of world knowledge makes for a nearly overwhelming amount of change constantly, new possible materials, and views.&nbsp; Rather than compete with this reality, adapt. <br>2)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Willingness to value other’s competence in subjects.&nbsp; There is no need to have a viewpoint of being in competition with the internet, hordes of highly trained curriculum developers and researchers, and as a teacher be the “source of all knowledge” ourself on any subject.&nbsp; Being the “sage on the stage” is a favored position by many teachers but is really best channeled into being a really great facilitator. <br> 3)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delight in personalization.&nbsp; Hard to do without digital content and curriculum, but so very possible with it. <br> 4)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Be supremely organized.&nbsp; Whether managing a large class or group, or just managing deep personalization for one student, being organized and aware of digital resources , projects, and cognizant of the time involved in any one assigned task is a new skill set required in the digital age.&nbsp; <br>5)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Possibly be “placeless.”&nbsp; Imagine a class with no physical classroom or building, and managing a group and individual students anyway.&nbsp; Online teaching skills are much discussed these days. <br>6)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;And many more… While there are many more, all of those listed here are merely points of discussion.&nbsp; Differingrealities exist in different schools.&nbsp; Send in your own comments on needed teacher features for the 22nd Century.&nbsp; </p>
	          </li>
	          
	          <li class="comment_even">
	            <div class="author">
	            	<span class="wrote"></span><span class="name"><a href="#">David Kafitz, The Learning Counsel</a></span></div>
	            <div class="submitdate"><a href="#">The Learning Counsel -- Sept 2013</a></div>
	            <p>Schools and higher ed institutions are facing down a serious disruption in learning content, going from paper to digital in all things.&nbsp; For nearly 100 years, classroom teaching has centered primarily on the textbook.&nbsp; One of the few, major publishers would send out their reps to sign multi-million dollar deals with School Boards or Superintendents. &nbsp;Thus the common assumption was that the schools do a single deal every five-to-seven years as needed to replace all textbooks and related materials.&nbsp; In higher ed the adoption was complicated with all individual professors choosing their own.&nbsp; <br>&nbsp;We are now in an age when there are more than 700 companies vying for the coveted digital publisher relationship with schools, the majority of which have very little “share-of-wallet” while a mere handful of the old-time big publishers still have the majority and are still selling paper textbooks.&nbsp; The biggest reason for the inequity of market access is that the innovative start-ups are largely unknown through lack ofadequate marketing.&nbsp; They are even confused with the prior reality and thought “expensive” or “outdated.” In fact, in most schools the revolt against the incumbent large publishers is at a fevered pitch and bleeds over onto any new all-digital publisher.&nbsp; A failure to innovate early by the large old-time publishers, though now there are plenty of digital materials from them, branded them as never-do-wells with voracious money-hungry self-interest.&nbsp; <br>&nbsp;It’s remarkable to consider that any type of “content” can be digital these days, although perhaps not invitingly aesthetic or interactive. The printed word, old photographs and video not created or captured by a digital device, all can be “digitized” with a little bit of effort. This is what teachers are doing all over the U.S. right now, in fact.&nbsp; A sort of a “roll-your-own-curriculum” bonanza is going on, largely without high-design or features.&nbsp; These various items of content are being shared with colleagues, friends, family, and the world at large on personal webpages, posted at sharing sites and professional network.&nbsp; Altogether, the content creation by Education just went into a whole new dimension in the past few years.&nbsp; It is at mind-staggering heights of generation.&nbsp; <br>In days gone by, and even now in most places, teachers organized their lesson planning around the textbook.&nbsp; In the 1970’s publishers stepped beyond the realm of the textbook and encyclopedia, into filmstrips or movies, workbooks and professional development. These and other content pieces became supplemental or augmentative materials around lessons still largely centered on a textbook.&nbsp; <br>&nbsp;With all of these content materials the teacher/professor was at the front of the classroom, leading a group.&nbsp; That is how the software industry has first modeled itself, to serve the teacher. <br>&nbsp;With devices blossoming on campuses and in schools, the teacher/professor is most likely to choose that which does not disrupt the power-structure of teacher-centricity.&nbsp; Or they may insist on making it for themselves.&nbsp; Administrators may be going along with this unwittingly, unaware of the full potentials of the transition to digital.&nbsp; Or the cost to allow the creation at the “nth-level,” or teacher level rather than centralization.&nbsp; <br>&nbsp;A lot of the new digital content and curriculum has been built to serve the student.&nbsp; Some of it is highly interactive, many with gaming features built in to “gate” forward a student once an objective is received, all wrapped up in nice management features and more.&nbsp; It puts the student on a personally charted knowledge path and the teacher is now on the side, facilitating only. &nbsp;&nbsp;The great redemption of this is that the teacher is now remarkably more efficiently used to personalize. &nbsp;&nbsp;Other new digital content is less full-lesson-with-all-the-knowledge-bits-included and more interactive-content oriented.&nbsp; Something like an eBook withfun pictures to click on, which still allows for a more teacher-centric model while adding interest for the student.&nbsp; &nbsp;It’s the road-less-traveled of full digital curriculum, not just parts or types of learning content, that is the most interesting divergent road to be taken right now.&nbsp; It is the road of greatest resistance, but which perhaps could hold the most promise for real gains through personalized learning for every student. <br>It’s not an easy thing for leaders to tell teachers, “We’re digital now.&nbsp; Gone are the days of ‘Students pull out your textbook and your notebook for taking notes.’”&nbsp;With lecture capture in higher ed, even repeat-performance lectures are no longer needed and institutions can literally just “rack-mount” up another course using digital lectures and materials.&nbsp; <br>Gone also are the days when last year’s lesson plan sufficed for this year because the textbooks haven’t been updated.&nbsp; There may not even be a textbook at all, as many schools stopped all purchase in the last two years to save up for digital devices.&nbsp; &nbsp; <br>Disruption is at hand for the way leaders lead and how teachers organize lessons.&nbsp; Many are lost in how to cope with it all, and making their own content while juggling a dramatically altered schedule where they are supposed to personalize for every student.&nbsp; With so much random motion brought suddenly and shockingly in by the mere addition of thousands of digital devices, new leadership is needed.&nbsp; No good leader leaves all their troops running in different directions.&nbsp;&nbsp; <br>Indeed, many places have started to take on the question of how to deal with mass curriculum change on a district-wide or State level. &nbsp;Device tactics have unleashed a mad scramble for learning content. &nbsp;Many institutions need a Strategy, not from the view of the devices only, but from the very architecture of learning delivery.&nbsp;&nbsp;&nbsp; *** &nbsp; </p>
	          </li>
	                    
	       	</ul>
    	      
    	</div>

    <div id="column">

	  <div style="height: 300px"></div>	

      <div id="featured">
		<%= image_tag("/assets/image_keep_calm.jpeg", :class => 'imgr', :style => 'width:150px;height:160px', :alt => '') %>
      </div>
	  
	  <div style="height: 1300px"></div>	
      
      <div id="featured">
		<%= image_tag("/assets/image_books.jpeg", :class => 'imgr', :style => 'width:150px;height:160px', :alt => '') %>
      </div>
    </div>



    
  </div>
</div>
</div>
