<% provide(:title, 'Directory') %>

<style>
	
#featured_slide1{
	height:360px;
	padding-top:30px;
	}

#featured_slide1 dl.slidedeck{
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	}

#featured_slide1 dl.slidedeck > dd{
	position:relative;
	height:360px;
	margin:0;
	padding:0;
	overflow:hidden;
	}

#featured_slide1 dl.slidedeck > dt{
	position:relative;
	height:43px;
	margin:0;
	padding:0;
	line-height:38px;
	font-size:13px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	color:#F8F9F3;
	background-color:#8199A9;
	cursor:pointer;
	border-top:2px solid #F8F9F3; /* Needs top-border as the JavaScript rotates the element */
	}

#featured_slide1 dl.slidedeck > dt.active{
	color:#F8F9F3;
	background-color:#002E5D;
	cursor:default;
	}

/* Spines */

#featured_slide1 dl.slidedeck dt.spine:hover{
	color:#F8F9F3;
	background-color:#002E5D;
	}

#featured_slide1 dl.slidedeck dt.spine.active, #featured_slide1 dl.slidedeck dt.spine.active:hover{
	cursor:default;
	color:#F8F9F3;
	background-color:#002E5D;
	}

#featured_slide1 dl.slidedeck dt.spine .index{
	margin-bottom:2px;
	font-size:24px;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#F8F9F3;
	}

#featured_slide1 dl.slidedeck dt.spine.active .index{
	margin-bottom:0;
	}

#featured_slide1 dl.slidedeck dt.spine:hover .index, #featured_slide1 dl.slidedeck dt.spine.active .index{
	color:#F8F9F3;
	}

/* The SlideDeck "active corner". */

#featured_slide1 dl.slidedeck .activeCorner{}
#featured_slide1 dl.slidedeck .active{}	
	
</style>

<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="content">
      <div id="comments" style="height: 480px">
        <h2>Directory</h2>
      </div>
    </div>
  </div>
</div>

  <div id="featured_slide1">
    <dl class="slidedeck">
      <dt>Slide 1</dt>      
      <dd><%= image_tag("/assets/demo_featured-slide_735x360.gif", :alt => '') %></dd>
      
      <dt>Slide 2</dt>
      <dd><%= image_tag("/assets/demo_featured-slide_735x360.gif", :alt => '') %></dd>
      <dt>Slide 3</dt>
      <dd><%= image_tag("/assets/demo_featured-slide_735x360.gif", :alt => '') %></dd>
      <dt>Slide 4</dt>
      <dd><%= image_tag("/assets/demo_featured-slide_735x360.gif", :alt => '') %></dd>
      <dt>Slide 5</dt>
      <dd><%= image_tag("/assets/demo_featured-slide_735x360.gif", :alt => '') %></dd>
    </dl>
  </div>

<script type="text/javascript">$('.slidedeck').slidedeck();</script>

