<% provide(:title, 'Gallery Example') %>

    	<%= stylesheet_link_tag "prettyPhoto", media: "all", "data-turbolinks-track" => true %>

<script type="text/javascript">
$(document).ready(function () {
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded',
        overlay_gallery: false
    });
});
</script>


<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
  	
    <div id="gallery" class="clear">
      <h2 class="title">Latest Images From The University</h2>
      <ul>
        
        <li><a href="/assets/image_ed_flow_chart_large.jpg" rel="prettyPhoto[gallery1]" title="Image 1"><%= image_tag("/assets/image_ed_flow_chart_small.png", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 2"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 3"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 4"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 5"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li class="last"><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 6"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 7"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 8"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 9"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 10"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 11"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        <li class="last"><a href="/assets/demo450x380.gif" rel="prettyPhoto[gallery1]" title="Image 12"><%= image_tag("demo130x130.gif", :alt => '') %></a></li>
        
      </ul>
    </div>
    
    <div class="pagination">
      <ul>
        <li class="prev"><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="splitter">&hellip;</li>
        <li><a href="#">6</a></li>
        <li class="current">7</li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li class="splitter">&hellip;</li>
        <li><a href="#">14</a></li>
        <li><a href="#">15</a></li>
        <li class="next"><a href="#">Next &raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
