<% provide(:title, 'About Match') %>

<div class="wrapper row1">
		
  <div id="header" class="clear">
  	  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
        
  </div>
</div>
<div class="wrapper row3">
  <div id="container" class="clear">
  	
  <div>
	<%= link_to "Return to Home", home_path %>
  </div>
  <br />
  <br />
  <br />
  	
    <h1>About our Match Service</h1>
    <p>...</p>
    <ul>
      <li>...</li>
      <li>...</li>      
    </ul>
  </div>
</div>

<%= render 'share/footer_social'%>
<%= render 'share/temp_nav'%>

<%= render 'share/footer' %>  
