<% provide(:title, 'Login') %>

	<div class="row" style="height: 10px"></div>
	<div class="row-end">&nbsp;</div>										
	
	<div class="row">
		
		<div class="col7">
			<div class="row">
				<div class="col2">
	  				<%= image_tag("image_learning_counsel.png", :alt => '') %>
				</div>
				<div class="col2">
	  				<%= image_tag("image_header_1.jpg", :alt => '') %>
				</div>
				<div class="col3">
	  				<%= image_tag("image_header_2.jpg", :alt => '') %>					
				</div>
				<div class="row-end">&nbsp;</div>		
			</div>
			<div class="row">
				<div class="col2" style="font-size: 10px">
					<p>News and Content on the Shift to Digital Curriculum</p>				
				</div>
				<div class="col5" style="font-size: 12px">
					<h4>Featured News Stream</h4>					
				</div>
				<div class="row-end">&nbsp;</div>										
			</div>			
		</div>
		
		<div class="col5">
			<div style="width: auto;height:120px;background-color:white;box-shadow: 1px 1px 10px #888888;padding: 10px 10px 10px 30px">
				<h3>Ad Block</h3>
			</div>
		</div>		
		<div class="row-end">&nbsp;</div>		
	</div>

	<div class="row" style="height: 10px"></div>
	<div class="row-end">&nbsp;</div>		
	


  
<div class="container" style="padding: 0px 0px 0px 0px; background-color: yellow; height: 400px">
	
	<div class="row" style="height: 20px;"></div>
	<div class="row-end">&nbsp;</div>			
	
	<div class="row">
		<div align="center">
			<h2>Sign In</h2>
		</div>      		
		<div class="row-end">&nbsp;</div>				
	</div>      		
	
	<div class="row" style="height: 30px;"></div>
	<div class="row-end">&nbsp;</div>			
	
	<%= form_for(@institute) do |f| %>
	<!-- = render 'shared/error_messages', object: f.object -->			
	

	
	<div class="row">
		<div class="col6" align="right">
			<%= label_tag(:username) %>
						
		</div>
		<div class="col6" align="left">
			<%= text_field_tag(:username) %>			
		</div>      	
		<div class="row-end">&nbsp;</div>		
	</div>      		
	
	<div class="row" style="height: 10px;"></div>      		
	<div class="row-end">&nbsp;</div>			

	<div class="row">
		<div class="col6" align="right">
			<%= label_tag(:password) %>			
		</div>
		<div class="col6" align="left">
			<%= password_field_tag(:password) %>			
		</div>      	
		<div class="row-end">&nbsp;</div>		
	</div>      		
	
	<div class="row" style="height: 10px;"></div>      		
	<div class="row-end">&nbsp;</div>			
		      		
	<div class="row">
		<div class="col12" align="center">
			<%= submit_tag("Log In") %>			
		</div>
		<div class="row-end">&nbsp;</div>				
	</div>      		
						
	<% end %>
			
</div>
		
<div class="row" style="height: 200px; background-color: green"></div>
<div class="row-end">&nbsp;</div>				

