					

	<style>
	
		.reset-db-btn-long {
		  	width: 300px;
		  	height: 26px;
		}
		.import-btn {
		  	width: 100px;
		  	height: 18px;
		}
			
	</style>

	<div id="page">

		<div style="height: 30px;"></div>

		 <!-- tabs  -->
		 		 		
		<header>
	
	    	<div id="pos" style="display: none;"></div>

			<%= render 'share/backtotop' %>

			<div style="height: 70px;"></div>
			
		</header>
		
		<div id="page-inner" style"height: 2000px;">
			
      
      		<div id="loading"> </div>
			
			<table width="1000px">	
				<tr>
					<td style="width: 400px">
						<form>
						    <input type="file">
						</form>
						<script>
							$(":file").change(function(){
								$( "#file_name" ).val( $(":file").val() );
							});
						</script>		
					</td>
					<td>
						<%= form_tag import_mtab8lets_path, :method => 'post', :id => "import_mtab8lets", :remote => true do %>
								<%= hidden_field_tag :file_name, params[:file_name] %>	
						    	<%= submit_tag "Import CSV", :class => 'import-btn' %>
						    	 <!-- submit_tag "download", :onclick => 'load_import(); return false;'  -->
						<% end %>			
					</td>
				</tr>
			</table>
			<div style="height: 20px;"></div>
			<table>
				<tr>
					<td style="width: 400px">
						<form>
						    <input type="file">
						</form>
						<script>
							$(":file").change(function(){
								$( "#file_name_excel" ).val( $(":file").val() );
							});
						</script>		
					</td>					
					<td>
						<%= form_tag import_mtab8lets_path( :format => :js ), :remote => true, multipart: true do %>							
						  	<%= hidden_field_tag :file_name_excel, params[:file_name_exel] %>
						  	<%= submit_tag "Import Excel XLSX" %>
						<% end %>
					</td>
				</tr>
			</table>
			<div style="height: 20px;"></div>
			<table width="1222px">
				<tr>
					<td width="300px">
						<p>
						   <%= link_to("Download: (Semi-colon ';' delimited)", { :action => 'export', :id => '100', :format => 'csv' }, :id => 'export_csv', :class => 'links') %>
						</p>	
					</td>
					<td width="150px"></td>					
					<td style="text-align: right;">
				    	<div>
					    	<h5>
							   	<% delete_all_msg = "Delete all records and reset index in MTablet 1?" %>
								  <!-- button_to "Delete All Records and Reset Index", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long'  -->
								
								 <%= button_to "Delete All Records and Reset Index", dbdelete_mtab8lets_path( :format => :js ), data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long', :id => 'dbdelete', :remote => true %>
								
							</h5>
						</div>
					</td>
			</table>
									
			<div class="table-page">
								
				<div class="row">
					
					<div class="cell-100percent" tabindex="1">


						<%= form_tag mtab8lets_path, :method => 'get', :id => "tablets_search" do %>
						  	
						  	<span>
						    	 <!-- text_field_tag :search, params[:search]  -->
						    	<%= text_field_tag :search %>
						   	</span>
						   	<span class="bar">Search by: </span>
					
						   	<span>
							
					   		<%= select_tag("search_by", options_for_select(
					   				[['ID','0'],
					   				['Col 1','1'],
					   				['Col 2','2'],
					   				['Col 3','3'],
					   				['Col 4','4'],
					   				['Col 5','5'],
					   				['Col 6','6'],
					   				['Col 7','7'],
					   				['Col 8','8'],
					   				['Col 9','9'],
					   				['Col 10','10'],
					   				['Col 11','11'],
					   				['Col 12','12'],
					   				['Col 13','13'],
					   				['Col 14','14'],
					   				['Col 15','15'],
					   				['Col 16','16'],
					   				['Col 17','17'],
					   				['Col 18','18'],
					   				['Col 19','19'],
					   				['Col 20','20'],
					   				['Col 21','21'],
					   				['Col 22','22'],
					   				['Col 23','23'],
					   				['Col 24','24'],					   				
					   				['Col 25','25'],					   				
					   				['Col 26','26'],					   				
					   				['Col 27','27'],					   				
					   				['Col 28','28'],					   				
					   				['Col 29','29'],					   				
					   				['Col 30','30'],					   				
					   				['Col 31','31'],					   				
					   				['Col 32','32'],					   				
					   				['Col 33','33'],					   				
					   				['Col 34','34'],					   				
					   				['Col 35','35'],					   				
					   				['Col 36','36'],					   				
					   				['Col 37','37'],					   				
					   				['Col 38','38'],					   				
					   				['Col 39','39'],					   				
					   				['Col 40','40'],					   				
					   				['Col 41','41'],					   				
					   				['Col 42','42'],					   				
					   				['Col 43','43'],					   				
					   				['Col 44','44'],					   				
					   				['Col 45','45'],					   				
					   				['Col 46','46'],					   				
					   				['Col 47','47'],					   				
					   				['Col 48','48'],					   				
					   				['Col 49','49'],					   				
					   				['Col 50','50']])) %>
							
						    </span>

							<span>
						    	<%= submit_tag "Search", :id => nil %>
						  	</span>
						  	<span><div style="display: inline-block; width: 200px;"></div></span>
							<span>
								<%= link_to('Add New Record', { :action => 'new', :form => :js }, :class => 'links', :remote => true ) %>
							</span>						  						
							<div id="tablets">
								<%= render 'mtab8lets/upload_files'%>
							</div>
						  
						<% end %>
												
					</div>
					
				</div>
				
			</div>
			<div style="height: 30px;"></div>			
			<div>
				<img src="../repository/image-mtab8lets-optout-page.png" alt="image-mtab8lets-optout-page.png">
			</div>
		</div>	
		
	</div>					

	<script>

		$(document).on('click','#tablets th a, #tablets .pagination a',function(){
		    $.getScript(this.href);
		    return false;
		});

		$("#tablets_search").submit(function() {	
			//alert('tablets_search');
		    $.get($("#tablets_search").attr("action"), $("#tablets_search").serialize(), null, "script");
		    return false;
		});
	
	</script>
					
<!-- 
col_40 Email
col_41 National or State
	  0	 National
	  1  Alabama
	  2  Alaska 
	  3  Arizona
	  4  Arkansas
	  5  California
	  6  Colorado 
	  7  Connecticut
	  8  Delaware 	
	  9  DC
	  10 Florida 	
	  11 Georgia 	
	  12 Hawaii 
	  13 Idaho 	
	  14 Illinois
	  15 Indiana 
	  16 Iowa 	
	  17 Kansas 	
	  18 Kentucky
	  19 Louisiana 
	  20 Maine 
	  21 Maryland 
	  22 Massachusetts
	  23 Michigan 
	  24 Minnesota
	  25 Mississippi 
	  26 Missouri 	
	  27 Montana 	
	  28 Nebraska 	
	  29 Nevada 
	  30 New Hampshire 
	  31 New Jersey 	
	  32 New Mexico 	
	  33 New York 	
	  34 North Carolina 
	  35 North Dakota 	
	  36 Ohio 	
	  37 Oklahoma 
	  38 Oregon 
	  39 Pennsylvania
	  40 Rhode Island
	  41 South Carolina
	  42 South Dakota 
	  43 Tennessee 	
	  44 Texas 	
	  45 Utah 	
	  46 Vermont 
	  47 Virginia
	  48 Washington
	  49 West Virginia
	  50 Wisconsin 
	  51 Wyoming 	 

col_42	NewsLetter
col_43	Journal
col_44	Educators: Events Announcements & Recaps
col_45	Community
col_46	Technology: Events Announcements & Recaps
col_47	Industry News
-->
