<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <!-- <Cell><Data ss:Type="String">id</Data></Cell> -->              	
        <Cell><Data ss:Type="String">col_1</Data></Cell>
        <Cell><Data ss:Type="String">col_2</Data></Cell>
        <Cell><Data ss:Type="String">col_3</Data></Cell>
        <Cell><Data ss:Type="String">col_4</Data></Cell>
        <Cell><Data ss:Type="String">col_5</Data></Cell>
        <Cell><Data ss:Type="String">col_6</Data></Cell>
        <Cell><Data ss:Type="String">col_7</Data></Cell>
        <Cell><Data ss:Type="String">col_8</Data></Cell>
        <Cell><Data ss:Type="String">col_9</Data></Cell>
        <Cell><Data ss:Type="String">col_10</Data></Cell>
        <Cell><Data ss:Type="String">col_11</Data></Cell>
        <Cell><Data ss:Type="String">col_12</Data></Cell>
        <Cell><Data ss:Type="String">col_13</Data></Cell>
        <Cell><Data ss:Type="String">col_14</Data></Cell>
        <Cell><Data ss:Type="String">col_15</Data></Cell>
        <Cell><Data ss:Type="String">col_16</Data></Cell>
        <Cell><Data ss:Type="String">col_17</Data></Cell>
        <Cell><Data ss:Type="String">col_18</Data></Cell>
        <Cell><Data ss:Type="String">col_19</Data></Cell>
        <Cell><Data ss:Type="String">col_20</Data></Cell>
        <Cell><Data ss:Type="String">col_21</Data></Cell>
        <Cell><Data ss:Type="String">col_22</Data></Cell>
        <Cell><Data ss:Type="String">col_23</Data></Cell>
        <Cell><Data ss:Type="String">col_24</Data></Cell>
        <Cell><Data ss:Type="String">col_25</Data></Cell>
        <Cell><Data ss:Type="String">col_26</Data></Cell>
        <Cell><Data ss:Type="String">col_27</Data></Cell>
        <Cell><Data ss:Type="String">col_28</Data></Cell>
        <Cell><Data ss:Type="String">col_29</Data></Cell>
        <Cell><Data ss:Type="String">col_30</Data></Cell>
        <Cell><Data ss:Type="String">col_31</Data></Cell>
        <Cell><Data ss:Type="String">col_32</Data></Cell>
        <Cell><Data ss:Type="String">col_33</Data></Cell>
        <Cell><Data ss:Type="String">col_34</Data></Cell>
        <Cell><Data ss:Type="String">col_35</Data></Cell>
        <Cell><Data ss:Type="String">col_36</Data></Cell>
        <Cell><Data ss:Type="String">col_37</Data></Cell>
        <Cell><Data ss:Type="String">col_38</Data></Cell>
        <Cell><Data ss:Type="String">col_39</Data></Cell>
        <Cell><Data ss:Type="String">col_40</Data></Cell>
        <Cell><Data ss:Type="String">col_41</Data></Cell>
        <Cell><Data ss:Type="String">col_42</Data></Cell>
        <Cell><Data ss:Type="String">col_43</Data></Cell>
        <Cell><Data ss:Type="String">col_44</Data></Cell>
        <Cell><Data ss:Type="String">col_45</Data></Cell>
        <Cell><Data ss:Type="String">col_46</Data></Cell>
        <Cell><Data ss:Type="String">col_47</Data></Cell>
        <Cell><Data ss:Type="String">col_48</Data></Cell>
        <Cell><Data ss:Type="String">col_49</Data></Cell>
        <Cell><Data ss:Type="String">col_50</Data></Cell>

      </Row>
    <% @tab8lets.each do |tab8let| %>
      <Row>
	    <!-- <Cell><Data ss:Type=""> store.id </Data></Cell>
	    <td> store.created_at.strftime("%B %e, %Y") </td>
	    <td> store.updated_at.strftime("%B %e, %Y") </td> -->    
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_1 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_2 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_3 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_4 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_5 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_6 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_7 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_8 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_9 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_10 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_11 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_12 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_13 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_14 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_15 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_16 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_17 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_18 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_19 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_20 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_21 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_22 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_23 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_24 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_25 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_26 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_27 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_28 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_29 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_30 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_31 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_32 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_33 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_34 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_35 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_36 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_37 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_38 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_39 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_40 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_41 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_42 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_43 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_44 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_45 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_46 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_47 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_48 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_49 %></Data></Cell>
	    <Cell><Data ss:Type="col_1"><%= mtab8let.col_50 %></Data></Cell>

      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

