
						<div style="height: 100px;"></div>
						
						<span><%= link_to('&laquo;'.html_safe + ' Previous', {:action => 'show', :id => @admin_reg_event_previous.id }) if !@admin_reg_event_previous.nil? %></span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span><%= link_to('Next '.html_safe + '&raquo;'.html_safe, {:action => 'show', :id => @admin_reg_event_next.id }) if !@admin_reg_event_next.nil? %></span>
						<br>
						<br>						

						<!-- <#%= link_to "Next", post_path(@post.next) if !@post.next.nil? %#> -->
						<!-- <#%= link_to "Next", "admin_reg_events/show", :id => @admin_reg_event_next.id if !@admin_reg_event_next.nil? %#> -->

						
						<!-- 
						# Table name: reg_events
						#	
						#  id               :integer          not null, primary key
						#  name_first       :string(50)
						#  name_last        :string(50)
						#  name_title_sir
						#  name_title       :string(50)
						#  type_affiliation :string(50)
						#  name_affiliation :string(100)
						#  email            :string(255)      default(""), not null
						#  city_workshop    :string(50)
						#  created_at       :datetime
						#  updated_at       :datetime
						#  address          :string(50)
						#  city             :string(50)
						#  state            :string(50)
						#  zip              :string(50)
						#  phone            :string(50) 
						-->

						<p>Title: <%= @admin_reg_event.name_title_sir %></p>
						<br />
						<p>First Name: <%= @admin_reg_event.name_first %></p>
						<br />
						<p>Last Name: <%= @admin_reg_event.name_last %></p>
						<br />
						<p>Position Title: <%= @admin_reg_event.name_title %></p>
						<br />
						<p>Affiliation: <%= @admin_reg_event.type_affiliation %></p>
						<br />
						<p>Affiliate Name: <%= @admin_reg_event.name_affiliation %></p>
						<br />
						<p>Email: <%= @admin_reg_event.email %></p>
						<br />
						<p>Email cc 1: <%= @admin_reg_event.email_cc_1 %></p>
						<br />
						<p>Email cc 2: <%= @admin_reg_event.email_cc_2 %></p>
						<br />
						<p>Address 1: <%= @admin_reg_event.address %></p>
						<br />
						<p>City: <%= @admin_reg_event.city %></p>
						<br />
						<p>State: <%= @admin_reg_event.state %></p>
						<br />
						<p>Zip: <%= @admin_reg_event.zip %></p>
						<br />
						<p>Phone: <%= @admin_reg_event.phone %></p>
						<br />
						<p>Mobile Phone: <%= @admin_reg_event.phone_mobile %></p>
						<br />		
						<% if @admin_reg_event.city_workshop_1_text.length > 0 %>				
						<p>Workshop 1: <%= @admin_reg_event.city_workshop_1_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_2_text.length > 0 %>				
						<p>Workshop 2: <%= @admin_reg_event.city_workshop_2_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_3_text.length > 0 %>				
						<p>Workshop 3: <%= @admin_reg_event.city_workshop_3_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_4_text.length > 0 %>				
						<p>Workshop 4: <%= @admin_reg_event.city_workshop_4_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_5_text.length > 0 %>				
						<p>Workshop 5: <%= @admin_reg_event.city_workshop_5_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_6_text.length > 0 %>				
						<p>Workshop 6: <%= @admin_reg_event.city_workshop_6_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_7_text.length > 0 %>				
						<p>Workshop 7: <%= @admin_reg_event.city_workshop_7_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_8_text.length > 0 %>				
						<p>Workshop 8: <%= @admin_reg_event.city_workshop_8_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_9_text.length > 0 %>				
						<p>Workshop 9: <%= @admin_reg_event.city_workshop_9_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_10_text.length > 0 %>				
						<p>Workshop 10: <%= @admin_reg_event.city_workshop_10_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_11_text.length > 0 %>				
						<p>Workshop 11: <%= @admin_reg_event.city_workshop_11_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_12_text.length > 0 %>				
						<p>Workshop 12: <%= @admin_reg_event.city_workshop_12_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_13_text.length > 0 %>				
						<p>Workshop 13: <%= @admin_reg_event.city_workshop_13_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_14_text.length > 0 %>				
						<p>Workshop 14: <%= @admin_reg_event.city_workshop_14_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_15_text.length > 0 %>				
						<p>Workshop 15: <%= @admin_reg_event.city_workshop_15_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_16_text.length > 0 %>				
						<p>Workshop 16: <%= @admin_reg_event.city_workshop_16_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_17_text.length > 0 %>				
						<p>Workshop 17: <%= @admin_reg_event.city_workshop_17_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_18_text.length > 0 %>				
						<p>Workshop 18: <%= @admin_reg_event.city_workshop_18_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_19_text.length > 0 %>				
						<p>Workshop 19: <%= @admin_reg_event.city_workshop_19_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_20_text.length > 0 %>				
						<p>Workshop 20: <%= @admin_reg_event.city_workshop_20_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_21_text.length > 0 %>				
						<p>Workshop 21: <%= @admin_reg_event.city_workshop_21_text %></p><br />
						<% end %>
						<% if @admin_reg_event.city_workshop_22_text.length > 0 %>				
						<p>Workshop 22: <%= @admin_reg_event.city_workshop_22_text %></p>
						<% end %>


						<% if false %>
						<p>Workshop 2: <%= @admin_reg_event.city_workshop_2_text %></p>
						<br />						
						<p>Workshop 3: <%= @admin_reg_event.city_workshop_3_text %></p>
						<br />
						<p>Workshop 4: <%= @admin_reg_event.city_workshop_4_text %></p>
						<br />
						<p>Workshop 5: <%= @admin_reg_event.city_workshop_5_text %></p>
						<br />
						<p>Workshop 6: <%= @admin_reg_event.city_workshop_6_text %></p>
						<br />
						<p>Workshop 7: <%= @admin_reg_event.city_workshop_7_text %></p>
						<br />
						<p>Workshop 8: <%= @admin_reg_event.city_workshop_8_text %></p>
						<br />
						<p>Workshop 9: <%= @admin_reg_event.city_workshop_9_text %></p>
						<br />
						<p>Workshop 10: <%= @admin_reg_event.city_workshop_10_text %></p>
						<br />
						<p>Workshop 11: <%= @admin_reg_event.city_workshop_11_text %></p>
						<br />
						<p>Workshop 12: <%= @admin_reg_event.city_workshop_12_text %></p>
						<br />
						<p>Workshop 13: <%= @admin_reg_event.city_workshop_13_text %></p>
						<br />
						<p>Workshop 14: <%= @admin_reg_event.city_workshop_14_text %></p>
						<br />
						<p>Workshop 15: <%= @admin_reg_event.city_workshop_15_text %></p>
						<br />
						<p>Workshop 16: <%= @admin_reg_event.city_workshop_16_text %></p>
						<br />
						<p>Workshop 17: <%= @admin_reg_event.city_workshop_17_text %></p>
						<br />
						<p>Workshop 18: <%= @admin_reg_event.city_workshop_18_text %></p>
						<br />
						<p>Workshop 19: <%= @admin_reg_event.city_workshop_19_text %></p>
						<br />
						<p>Workshop 20: <%= @admin_reg_event.city_workshop_20_text %></p>
						<br />
						<p>Workshop 21: <%= @admin_reg_event.city_workshop_21_text %></p>
						<br />
						<p>Workshop 22: <%= @admin_reg_event.city_workshop_22_text %></p>
						<% end %>
					
						<div style="height: 200px;"></div>
						