<% @title = "Register Events Edit" %>

	<style>
	
		#signin-page {
			/*height: 800px;*/			
		}
	
		#signin-page #signin-page-inner {
		    width: 60%;
		    margin: 0 auto;
		}	

		div .table-signin {
			display: table;
			/*background-color: #DEDB3C;*/
			background-color: #BFBD47;
			width: 700px;
			border-radius: 20px;
			border:2px solid #254520;
			box-shadow: 1px 1px 10px #888888;
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 40px;
		}
	
		.input-signin {
			font-family: Arial, Helvetica, sans-serif;
			color: #000;			
			font-size: 16px;
			width: 300px;
			height: 24px;
			border-style:solid;
			border-radius: 4px;
			background-color: #fff;
			border-color: #000;
			border-width: 1px;
			padding-left: 6px;
		}
	
		.input-signin:focus {
			border-color: #3949C4;
			color: #000;
			-webkit-box-shadow: 0 0 10px #3949C4;
			-moz-box-shadow: 0 0 10px #3949C4;
			box-shadow: 0 0 10px #3949C4;
		}

		.input-signin:disabled {
			border-color: #523401;
			color: #523401;
			background-color:#CCCBC8;
		}
			
		.input-label-signin {
			font-family: Arial, Helvetica, sans-serif;
			color: #000;
			font-size: 16px;
			width: 220px;
			height: 18px;
		}

		.input-label-signin:disabled {
			font-family: Arial, Helvetica, sans-serif;
			color: #523401;
		}
			
		.input-signin-spacer {
			height: 16px;
		}
			
		div .cell-right-signin-admin {
			display: table-cell;
			width: 50%;
			text-align: left;
			align: top;		
		}
	
		div .cell-left-signin-admin {
			display: table-cell;
			width: 36%;	
			align: top;
			text-align: right;		
			padding-right: 20px;
		}
		
		div .cell-submit-signin-admin {
			display: table-cell;
			width: 50%;
			text-align: left;
			align: top;		
			padding-left: 0px;
		}
		
		.signin-btn {
		  
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 308px;
		  	height: 30px;
		  	background: linear-gradient(#000, #000);
		  	text-shadow: 1px 1px 1px #0E86B2; 
		  	border-radius: 6px;
		}
	
		.signin-btn:focus {
		  background: #CCC; 
		  color: #5F7A2A;
		  box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}
		
		.signin-btn:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(255,255,255,0.3);
		}
		
		.signin-btn:active { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(0,0,0,0.3); 
		}
		
	</style>


	<div id="signin-page">
		
		<header>
	
			<%= render 'share/backtotop' %>
			
			<div style="height: 40px;"></div>
			
		</header>
		
		
		<div id="signin-page-inner">
			
			<div class="table-signin">
				<div class="row">
					
					<div class="cell-100percent">

  						<%= form_for(:admin_reg_event, :url => {:action => 'update', :id => @admin_reg_event.id}) do |f| %>
					
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:id, 'ID', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :id, :class => "input-signin", :disabled => true %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:created_at, 'created_at', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :created_at, :class => "input-signin", :disabled => true %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:updated_at, 'updated_at', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :updated_at, :class => "input-signin", :disabled => true %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:name_first, 'name_first', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :name_first, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:name_last, 'name_last', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :name_last, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:name_title, 'name_title', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :name_title, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:type_affiliation, 'type_affiliation', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :type_affiliation, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:name_affiliation, 'name_affiliation', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :name_affiliation, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:address, 'address', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :address, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city, 'city', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:state, 'state', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :state, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:zip, 'zip', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :zip, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:phone, 'phone', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :phone, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:phone_mobile, 'mobile phone', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :phone_mobile, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:email, 'email', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :email, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:email_cc_1, 'email_cc_1', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :email_cc_1, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:email_cc_2, 'email_cc_2', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :email_cc_2, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>


						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_1, 'city_workshop_1', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_1, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_1_text, 'city_workshop_1_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_1_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_2, 'city_workshop_2', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_2, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_2_text, 'city_workshop_2_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_2_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_3, 'city_workshop_3', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_3, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_3_text, 'city_workshop_3_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_3_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_4, 'city_workshop_4', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_4, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_4_text, 'city_workshop_4_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_4_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_5, 'city_workshop_5', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_5, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_6_text, 'city_workshop_6_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_6_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_7, 'city_workshop_7', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_7, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_7_text, 'city_workshop_7_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_7_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_8, 'city_workshop_8', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_8, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_8_text, 'city_workshop_8_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_8_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_9, 'city_workshop_9', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_9, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_9_text, 'city_workshop_9_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_9_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_10, 'city_workshop_10', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_10, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_10_text, 'city_workshop_10_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_10_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_11, 'city_workshop_11', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_11, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_11_text, 'city_workshop_11_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_11_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_12, 'city_workshop_12', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_12, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_12_text, 'city_workshop_12_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_12_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_13, 'city_workshop_13', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_13, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_13_text, 'city_workshop_13_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_13_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_14, 'city_workshop_14', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_14, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_14_text, 'city_workshop_14_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_14_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_15, 'city_workshop_15', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_15, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_15_text, 'city_workshop_15_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_15_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_16, 'city_workshop_16', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_16, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_16_text, 'city_workshop_16_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_16_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_17, 'city_workshop_17', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_17, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_17_text, 'city_workshop_17_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_17_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_18, 'city_workshop_18', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_18, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_18_text, 'city_workshop_18_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_18_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_19, 'city_workshop_19', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_19, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_19_text, 'city_workshop_19_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_19_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_20, 'city_workshop_20', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_20, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_20_text, 'city_workshop_20_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_20_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_21, 'city_workshop_21', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_21, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_21_text, 'city_workshop_21_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_21_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>

						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_22, 'city_workshop_22', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_22, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>
						<div class="input-signin-spacer"></div>
						<div class="row">
							<div class="cell-left-signin-admin">
								<%= f.label(:city_workshop_22_text, 'city_workshop_22_text', class: 'input-signin-label') %>							
							</div>
							<div class="cell-right-signin-admin">
								<%= f.text_field :city_workshop_22_text, :class => "input-signin", :disabled => false %>	
							</div>      	
						</div>

						<div class="input-signin-spacer"></div>
						<div class="input-signin-spacer"></div>
						      		
						<div class="row">
							<div class="cell-left-signin-admin">
							</div>
							<div class="cell-right-signin-admin">
								<div style="height: 30px;"></div>
								<%= f.submit "Update", class: 'signin-btn' %>
							</div>      	
						</div>      		
											
						<% end %>
						
					</div>
					
				</div>
				
			</div>
			
		</div>	
		
	</div>
	
	<div style="height: 100px;"></div>



