<% provide(:title, 'Events Registration List') %>


		<%= render 'share/backtotop' %>
		
		<div id="admin_reg_events_list" class="admin-reg-events-index">
			
			<div id="ajax_loading" class="ajax-loading hidden"></div>
			<div id="page_loading" class="page-loading"></div>		
		    <div id="pos" class="hidden"></div>
			<!-- <#%= hidden_field_tag :pos %#> -->
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :sort, params[:sort] %>	
			<%= hidden_field_tag :pos, params[:pos] %>	
			
			<div style="height: 100px;"></div>		

			<div class="table-1">
				<div class="row">
					<div class="cell-100percent">
						<div class="table-2">
							<div class="row">
								<div class="cell-600">
									<%= form_tag admin_reg_events_path, :method => 'get', :id => "admin_reg_events_search" do %>
									  	<span>
									    	 <!-- text_field_tag :search, params[:search]  -->
									    	<%= text_field_tag :search %>
									   	</span>
									   	<span style="">Search by: </span>
									   	<span>
								   		<%= select_tag("search_by", options_for_select(
								   				[['ID', '1'], 
								   				['First Name','2'],
								   				['Last Name','3'],
								   				['Affil Type','4'],
								   				['Affiliation','5']])) %>
									    </span>
										<span>
									    	<%= submit_tag "Search", :id => nil %>
									  	</span>
										<span>Workshop: </span><span id="city"></span>
									    <!-- 
									    <option value="1">Columbia, SC</option>
									    <option value="2">Houston, TX</option>
									    <option value="3">Albuquerque, NM</option>
									    <option value="4">Fresno, CA (Central)</option>						    
									    <option value="5">Chicago, IL</option>
									    <option value="6">San Bernadino, CA</option>						    
									    <option value="7">Richmond, VA</option>
									    <option value="8">Minneapolis, MN</option> 
									    <option value="9">Detroit, MI</option>
									    <option value="10">Las Vegas, NV</option>
									    <option value="11">San Jose, CA</option>						    
									    <option value="12">Newark, NJ</option>
									    <option value="13">Tucson/Santa Fe, AZ</option>
									    <option value="14">Tampa, FL</option>
									    -->							
									   	<span>
								   		 <%= select_tag("workshop", options_for_select(
								   				[['All', '16'], 
								   				['Columbia, SC','1'],
								   				['Houston, TX','2'],
								   				['Albuquerque, NM','3'],
								   				['Fresno, CA (Central)','4'],
								   				['Chicago, IL','5'],
								   				['San Bernadino, CA','6'],
								   				['Richmond, VA','7'],
								   				['Minneapolis, MN','8'],
								   				['Detroit, MI','9'],
								   				['Las Vegas, NV','10'],
								   				['San Jose, CA','11'],
								   				['Newark, NJ','12'],
								   				['Tucson/Santa Fe, AZ','13'],
								   				['Tampa, FL','14'],
								   				['National GATHERING','15']])) %>
								   				<!-- ['Workshop 13','13']]), :onchange => 'select_workshop()')  -->					   				
									    </span>
									<% end %>
								</div>
								<div class="cell-200">
									<p>
									  Download: (Semi-colon ';' delimited)
									      <!-- link_to('CSV', { :action => 'export', :id => '100', :remote => true, :format => 'csv', :export => {:id => ['100', '99', '98', '97']} }, :id => 'export_csv')  -->
									     <%= link_to('CSV', { :action => 'export', :id => '100', :format => 'csv' }, :id => 'export_csv') %>
									     <!-- link_to('CSV', { :action => 'export', :id => '100', :remote => true, :format => 'csv' }, :id => 'export_csv')  -->
									   <!-- link_to "Excel", stores_path(format: "xls") |
									   link_to "Excelx", stores_path(format: "xlsx") 			   -->
									</p>	
								</div>
								<div class="cell-200" style="text-align: right;">
									<span>
										<% if @admin_reg_events.any? %>
										<h5>Record Count: <%= @admin_reg_events.count %></h5>
										<% end %>								
									</span>
								</div>					
							</div>
						</div>
						<div style="height: 4px;"></div>				
						<div class="table-2">
							<div class="row">
								<div class="cell-100percent" tabindex="1">
									<div id="render_admin_reg_events"></div>
								</div>
							</div>				
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>					
	
	<script>

        function scrollPos() {
            $("#pos").html($("#scroll1").scrollLeft());
            $("#scroll2").scrollLeft($("#pos").html());
        }
		function moveScroll() {
			$(document).find("#scroll1").scrollLeft($("#pos").html());
			$(document).find("#scroll2").scrollLeft($("#pos").html());
		}

		$(document).on('click','#admin_reg_events th a, #admin_reg_events .pagination a',function(){
		    $.getScript(this.href);
		    return false;
		});

		$("#admin_reg_events_search").submit(function() {	
		    $.get($("#admin_reg_events_search").attr("action"), $("#admin_reg_events_search").serialize(), null, "script");
		    return false;
		});

		// function getURLParameter(url, name) {
		    // return (RegExp(name + '=' + '(.+?)(&|$)').exec(url)||[,null])[1];
		// }

		$(window).load( function() {
		//$(document).ready(function(){

			$("#page_loading").addClass("hidden");

			$(document).on('click', '#admin_events_header a', function() {
				$("#ajax_loading").removeClass("hidden");
				$.getScript($(this).attr("href"));
				return false;
			});
			$(document).on('click', '.pagination a', function() {
				$("#ajax_loading").removeClass("hidden");
				$.getScript($(this).attr("href"));
				return false;
			});

			$("#render_admin_reg_events").html("<%= j render('admin_reg_events/list') %>");

		});		
	
	</script>
					


