<% @title = "News Letter Registration Record" %>

	<style>
	
		#signin-page {
			height: 100%;
			min-height: 900px;
		}
	
		#signin-page #signin-page-inner {
		    width: 80%;
		    margin: 0 auto;
		}	

		div .table-signin {
			display: table;
			background-color: #DEDB3C;
			width: 880px;
			border-radius: 20px;
			border:2px solid #254520;
			box-shadow: 1px 1px 10px #888888;
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 60px;
		}
	
		.table-signin p {
			font-family: msyh; 
			font-size: 16px;
			color: #005187;"
		}
		
	</style>


	<div id="signin-page">
		
		<header>
	
			<%= render 'share/backtotop' %>

			<div style="height: 40px;"></div>
			
		</header>
		
		
		<div id="signin-page-inner">
			
			<div class="table-signin">
				<div class="row">
					
					<div class="cell-100percent" tabindex="1">
						<!-- <h5><#%= link_to('View', {:action => 'show', :id => reg_event.id, :class => 'member-table'}) %#></h5> -->

						<span><%= link_to('&laquo;'.html_safe + ' Previous', {:action => 'show', :id => @admin_reg_event_previous.id }) if !@admin_reg_event_previous.nil? %></span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span><%= link_to('Next '.html_safe + '&raquo;'.html_safe, {:action => 'show', :id => @admin_reg_event_next.id }) if !@admin_reg_event_next.nil? %></span>
						<br>
						<br>						
						<% if !@admin_reg_event_previous.nil? %>
						<h1><span>Previous Id: </span><%= @admin_reg_event_previous.id %></h1>
						<% else %>
						<h1><span>Previous Id: </span>No Previous Record</h1>
						<% end %>
						<% if !@admin_reg_event_next.nil? %>
						<h1><span>Next Id: </span><%= @admin_reg_event_next.id %></h1>
						<% else %>
						<h1><span>Next Id: </span>No Next Record</h1>
						<% end %>
						<br>

						<!-- <#%= link_to "Next", post_path(@post.next) if !@post.next.nil? %#> -->
						<!-- <#%= link_to "Next", "admin_reg_events/show", :id => @admin_reg_event_next.id if !@admin_reg_event_next.nil? %#> -->

						
						<!-- 
						# Table name: reg_events
						#	
						#  id               :integer          not null, primary key
						#  name_first       :string(50)
						#  name_last        :string(50)
						#  name_title       :string(50)
						#  type_affiliation :string(50)
						#  name_affiliation :string(100)
						#  email            :string(255)      default(""), not null
						#  city_workshop    :string(50)
						#  created_at       :datetime
						#  updated_at       :datetime
						#  address          :string(50)
						#  city             :string(50)
						#  state            :string(50)
						#  zip              :string(50)
						#  phone            :string(50) 
						-->

						<h1>Events Registration Record:</h1>
						<br />
						<p>ID: <%= @admin_reg_event.id %></p>
						<br />
						<p>Created: <%= @admin_reg_event.created_at %></p>
						<br />
						<p>Updated: <%= @admin_reg_event.updated_at %></p>						
						<br />
						<p>First Name: <%= @admin_reg_event.name_first %></p>
						<br />
						<p>Last Name: <%= @admin_reg_event.name_last %></p>
						<br />
						<p>Title: <%= @admin_reg_event.name_title %></p>
						<br />
						<p>Affiliation: <%= @admin_reg_event.type_affiliation %></p>
						<br />
						<p>Affiliate Name: <%= @admin_reg_event.name_affiliation %></p>
						<br />
						<p>Email: <%= @admin_reg_event.email %></p>
						<br />
						<p>Email cc 1: <%= @admin_reg_event.email_cc_1 %></p>
						<br />
						<p>Email cc 2: <%= @admin_reg_event.email_cc_2 %></p>
						<br />						
						<p>Workshop 1: <%= @admin_reg_event.city_workshop_1_text %></p>
						<br />
						<p>Workshop 2: <%= @admin_reg_event.city_workshop_2_text %></p>
						<br />						
						<p>Workshop 3: <%= @admin_reg_event.city_workshop_3_text %></p>
						<br />
						<p>Workshop 4: <%= @admin_reg_event.city_workshop_4_text %></p>
						<br />
						<p>Workshop 5: <%= @admin_reg_event.city_workshop_5_text %></p>
						<br />
						<p>Workshop 6: <%= @admin_reg_event.city_workshop_6_text %></p>
						<br />
						<p>Workshop 7: <%= @admin_reg_event.city_workshop_7_text %></p>
						<br />
						<p>Workshop 8: <%= @admin_reg_event.city_workshop_8_text %></p>
						<br />
						<p>Workshop 9: <%= @admin_reg_event.city_workshop_9_text %></p>
						<br />
						<p>Workshop 10: <%= @admin_reg_event.city_workshop_10_text %></p>
						<br />
						<p>Workshop 11: <%= @admin_reg_event.city_workshop_11_text %></p>
						<br />
						<p>Workshop 12: <%= @admin_reg_event.city_workshop_12_text %></p>
						<br />
						<p>Workshop 13: <%= @admin_reg_event.city_workshop_13_text %></p>
						<br />
						<p>Workshop 14: <%= @admin_reg_event.city_workshop_14_text %></p>
						<br />
						<p>Workshop 15: <%= @admin_reg_event.city_workshop_15_text %></p>
						<br />
						<p>Address 1: <%= @admin_reg_event.address %></p>
						<br />
						<p>City: <%= @admin_reg_event.city %></p>
						<br />
						<p>State: <%= @admin_reg_event.state %></p>
						<br />
						<p>Zip: <%= @admin_reg_event.zip %></p>
						<br />
						<p>Phone: <%= @admin_reg_event.phone %></p>
						<br />
						<p>Mobile Phone: <%= @admin_reg_event.phone_mobile %></p>
												
					</div>
					
			 		<%= button_to "Edit", {:action => 'edit', :id => @admin_reg_event.id } %> 
					
				</div>
				
			</div>
			
		</div>	
		
	</div>					
					
	<div style="height: 40px;"></div>
					
	<script>

		$(window).load( function() {
		//$(document).ready(function(){

		});
	
	</script>
