


	<div class="main">
	
		<div id="scroll1" class="scrollbox-both" onscroll="scrollPos();">	
			
			<% if @admin_users.any? %>
				
				<%= hidden_field_tag :direction, params[:direction] %>
				<%= hidden_field_tag :sort, params[:sort] %>	
				<%= hidden_field_tag :pos, params[:pos] %>	
				
				<h5>Record Count: <%= @admin_users.count %></h5>
    	    				
				<table id="admin-users" title="AdminUsers" >    	  
					  	
			       <colgroup>
				       <col class="member-table"></col>
				       <col class="member-table"></col>
				       <col class="member-table"></col>
				       <col class="member-table"></col>
				       <col class="member-table"></col>
				       <col class="member-table"></col>
				       <col class="member-table"></col>
			       </colgroup>

				  <tr align="left">
				  	
				    <th class="member-table" id="th_view" field="view" style="width: 50px"><div class="header-shift"><h4></h4></div></th>
				    <th class="member-table" id="th_delete" field="delete" style="width: 50px;"><div class="header-shift"><h4></h4></div></th>
				  	
				    <th class="member-table" id="th_id" field="id" style="width: 50px"><div id="id" class="header-shift"><h4><%= sortable "id", "ID" %></div></th>
				    <th class="member-table" id="th_created_at" field="created_at" style="width: 100px"><div id="id" class="header-shift"><h4><%= sortable "created_at", "Created" %></div></th>
				    <th class="member-table" id="th_updated_at" field="updated_at" style="width: 100px"><div id="id" class="header-shift"><h4><%= sortable "updated_at", "Updated" %></div></th>
				    <th class="member-table" id="th_username" field="username" style="width: 100px"><div id="username" class="header-shift"><h4><%= sortable "username", "Username" %></h4></div></th>
				    <th class="member-table" id="th_email" field="email" style="width: 300px"><div id="" class="header-shift"><h4><%= sortable "email", "Email" %></h4></div></th>
				  </tr>
				<% @admin_users.each do |admin_user| %>
				  <tr align="left" class="tr-events">
				  	
				    <td><h5><%= link_to('View', {:action => 'show', :id => admin_user.id, :class => 'member-table'}) %></h5></td>
	
				    <td>
				    	<div style="position: relative; bottom: -2px">
					    	<h5>
							   	<% delete_msg = "Delete ID: " + admin_user.id.to_s + " ?" %>
								<%= button_to "Delete", {:action => 'destroy', :id => admin_user.id}, :method => :delete, :confirm => delete_msg, :class => 'delete-btn' %>
							</h5>
						</div>
					</td>
				  	
				    <td><h5 class="member-table"><%= admin_user.id %></h5></td>
				    <td><h5 class="member-table"><%= admin_user.created_at.to_formatted_s(:db) %></h5></td>
				    <td><h5 class="member-table"><%= admin_user.updated_at.strftime("%B %e, %Y") %></h5></td>    
				    <td><h5 class="member-table"><%= admin_user.username %></h5></td>
				    <td><h5 class="member-table"><%= admin_user.email %></h5></td>
				    			      
				  </tr>
				<% end %>

				<!-- number_to_currency(product.price) -->
				
				</table>			
							
				  <%= will_paginate @admin_users %>							
							
			<% else %>
						
				<h3>No record for Admin Users</h3>
				
			<% end %>
			
		</div>
		
	</div>

   
	<script>
		
        function scrollPos() {
            $("#pos").html($("#scroll1").scrollLeft());
        }
		
		function moveScroll() {
			$("#scroll1").scrollLeft($("#pos").html());
		}

				
				
		$(function() {
		
			 // $('#loading').fadeOut(1000);
				
		
			// img = $('<img />');
//  			
			// img.bind('loading_import', function() {
// 				
				// $('#join_image').css({
					// visibility: 'visible'
				// })
// 				
			    // $('#loading').fadeOut(1000);
// 
				// // // setTimeout( function(){
					// // // centerSignin();
					// // // showSignin();
					// // // formValidate();
				// // // }, 1000);
			// });
		
		
		
			// $("#get-import").on('click', function() {
			    // $.post({
			    	// //type: "POST",
			      	// url: "/stores/import"
			    // });			
			// });
		
		
		
		
		
		
    		var $cols = $('colgroup');

			$("table#admin-users tr:nth-child(even)").addClass('gray');
			$("table#admin-users tr:nth-child(odd)").addClass('white');

			// #  id           :integer			3  
			// #  name_type    :string(50)		4
			// #  salutation   :string(50)		5
			// #  name_first   :string(50)		6
			// #  name_last    :string(50)		7
			// #  name_title   :string(50)		8
			// #  institute    :string(100)		9
			// #  department   :string(100)		10
			// #  address_1    :string(100)		11
			// #  address_2    :string(100)		12
			// #  city         :string(50)		13
			// #  state        :string(100)		14
			// #  zip          :string(50)		15
			// #  country      :string(100)		16
			// #  phone        :string(50)		17
			// #  fax          :string(50)		18
			// #  phone_direct :string(50)		19
			// #  phone_mobile :string(50)		20
			// #  email        :string(100)		21
			// #  website      :string(100)		22


			var cell;
			var cellIndex;
			var row;
			var rowIndex;
			var header;
			var cellTh;
			var cellIndexTh;
			
			$("table#admin-users th").mouseover ( function () {

				cellTh = $(this).closest('th');
				cellIndexTh = cellTh[0].cellIndex;
				cellIndexTh += 1;
				
				$("table#admin-users td:nth-child(" + cellIndexTh + ")").addClass('hover-col');
				$(this).addClass('hover-col');
				
			}).mouseout ( function() {
				
				$("table#admin-users td:nth-child(" + cellIndexTh + ")").removeClass('hover-col');				
				$(this).removeClass('hover-col');
				
			});
			
			$("table#admin-users td").mouseover ( function () {
				
				cell = $(this).closest('td');
				cellIndex = cell[0].cellIndex;
				cellIndex += 1;
				row = cell.closest('tr');
				rowIndex = row[0].rowIndex;
				
				switch(cellIndex)
				{
				case 1:
					header = "th_view"	  
				  break;
				case 2:
					header = "th_delete"	  
				  break;
				case 3:
					header = "#th_id"	  
				  break;
				case 4:
					header = "#th_username"	  
				  break;				  
				case 5:
					header = "#th_email"	  
				  break;

				default:
					//
				}				

				$(header).addClass('hover-col');
		
				if (rowIndex % 2 === 0) {
					$("table#admin-users td:nth-child(" + cellIndex + ")").addClass('hover-col');
					row.removeClass('gray').addClass('hover-row');					
				}
				else {
					$("table#admin-users td:nth-child(" + cellIndex + ")").addClass('hover-col');
					row.removeClass('white').addClass('hover-row');										
				}		
			}).mouseout( function(){

				$(header).removeClass('hover-col');
				
				if (rowIndex % 2 === 0) {
					$("table#admin-users td:nth-child(" + cellIndex + ")").removeClass('hover-col');
					row.removeClass('hover-row').addClass('gray');					
				}
				else {
					$("table#admin-users td:nth-child(" + cellIndex + ")").removeClass('hover-col');
					row.removeClass('hover-row').addClass('gray');					
				}		
			});
			
			var rowSelect = -1;			
			
			$("table#admin-users td").on('click', function () {
	
				cell = $(this).closest('td');
				btn_delete = $(this).closest('form');
				row = cell.closest('tr');
				rowIndex = row[0].rowIndex;

				if (rowSelect !== -1) {
					$("table#admin-users tr").removeClass('row-select');
				}
				
				rowSelect = rowIndex;
				row.addClass('row-select');
				btn_delete.removeClass('btn-color').addClass('btn-color-select');
			});
	
	
			
			$(document).on('click', function(event) {
				// alert(event.target);
				elem = event.target.className;
				if ((elem === 'hover-col') || (elem === 'delete-btn') || (elem === 'member-table')) {
					//
				}
				else {
					$("table#admin-users tr").removeClass('row-select');					
				}
			});
		});

		// $(document).on('click', function() {
			// if ((rowSelect !== -1)) {
				// //$("table#admin-events tr").removeClass('row-select');
			// }
			// rowSelect = -1;
			// tableClicked = false;
		// })

		//$(document).ready(function () {
			// $('*[data-confirm]').click(function(){
				// // alert('delete clicked');				
		    	// return confirm($(this).attr('data-confirm'));
		  	// });
		//});
			
	</script>


