<% provide(:title, 'Users') %>

	<% if @admin_users.any? %>

    <table id="admin_list_users" style="width: 1000px; height: 300px;" title="Users List" >    	    	
	    <tr align="left">
		    <th field="id" width = "40"><h4>ID</h4></th>
		    <th field="created_at" width = "180"><h4>Date</h4></th>			    		    	
		    <th field="username" width = "100"><h4>Username</h4></th>
		    <th field="email" width = "200"><h4>Email</h4></th>
		</tr>
		<% @admin_users.each do |user| %>
	    <tr align="left">
		    <td width = "40"><h5><%= user.id %></h5></td>
		    <td width = "180"><h5><%= user.created_at %></h5></td>		    	
		    <td width = "100"><h5><%= user.username %></h5></td>
		    <td width = "200"><h5><%= user.email %></h5></td>
		    
		    <!-- = link_to('View', {:action => 'view', :id => user.id}) -->
		    		     			    
		</tr>
		<% end %>	    	
	</table>
	<%= will_paginate @admin_users %>

	<% else %>
	<div class="row" style="color: red;">
		<h3>No record for Users</h3>
	</div>
	<div class="row-end">&nbsp;</div>			
	<% end %>
	
					
<div class="row" style="height: 20px;"></div>
<div class="row-end">&nbsp;</div>				
