<% @title = "Archive Record" %>

	
	<%= render 'share/backtotop' %>

	<div class="container admin-users-show">
		<div class="table">
			<div class="row">
				<div class="col-200">
					<div style="height: 100px;"></div>
					<div><span class="span-1">Admin User Record</span></div>
					<br />								
					<br />								
					<% if !@admin_user_previous.nil? %>
					<div><span class="span-1">Previous Id: <%= @admin_user_previous.id %></span></div>
					<% else %>
					<div><span class="span-1">Previous Id: No Previous Record</span></div>
					<% end %>
					<div><span class="span-2">Id: <%= @admin_user.id %></span></div>
					<% if !@archive_next.nil? %>
					<div><span class="span-1">Next Id: <%= @admin_user_next.id %></span></div>
					<% else %>
					<div><span class="span-1">Next Id: No Next Record</span></div>
					<% end %>
				</div>
				<div class="col-1000-borders">
					<% if current_user.admin %>
						<div class="pad-left-20">
							<%= button_to "Edit", {:action => 'edit', :id => @admin_user.id } %>
						</div>
					<% end %> 
					<div style="height: 10px;"></div>
					<div class="pad-left-20">
						<span><%= link_to('&laquo;'.html_safe + ' Previous', {:action => 'show', :id => @admin_user_previous.id }) if !@admin_user_previous.nil? %></span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span><%= link_to('Next '.html_safe + '&raquo;'.html_safe, {:action => 'show', :id => @admin_user_next.id }) if !@admin_user_next.nil? %></span>
					</div>
					<div style="height: 20px;"></div>
					<%= render 'admin_users/show' %>
				</div>
			</div>
		</div>
	</div>
