
						<div class="table">
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">
									<span class="span-1">Created:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.created_at %></span>
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">
									<span class="span-1">Updated:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.updated_at %></span>
								</div>																
							</div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">
									<span class="span-1">Admin:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.name_admin %></span>
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">
									<span class="span-1">Author:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.name_author %></span>
								</div>																
							</div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">
									<span class="span-1">Article Date:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.date_article %></span>
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">
									<span class="span-1">Genre:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.article_type %></span>
								</div>																
							</div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">									
									<span class="span-1">File:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.name_file %></span>						
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">															
									<span class="span-1">File folder:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.name_url %></span>
								</div>																
							</div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">									
									<span class="span-1">Subtitle Main:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.subtitle_1 %></span>
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">									
									<span class="span-1">Subtitle Small:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.subtitle_2 %></span>
								</div>																
							</div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">									
									<span class="span-1">Image:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.linkimg %></span>
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">									
									<span class="span-1">Image height:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.img_height %></span>
								</div>																
							</div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">									
									<span class="span-1">Subtitle Main - Carousel:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.subtitle_1_carousel %></span>
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">									
									<span class="span-1">Subtitle Small - Carousel:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.subtitle_2_carousel %></span>
								</div>																
							</div>
							
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">									
									<span class="span-1">Image - Carousel:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.linkimg_carousel %></span>
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">									
									<span class="span-1">Image height - Carousel:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.img_height_carousel %></span>
								</div>																
							</div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">									
									<span class="span-1">Link Title (Twitter, etc..):</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.linktitle %></span>
								</div>																
							</div>
							<!-- <div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">									
									<span class="span-1">Link Image Folder (Twitter, etc..):</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><#%= @archive.linkimg_url %#></span>
								</div>																
							</div> -->
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">									
									<span class="span-1">Description (Twitter, etc):</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.description %></span>
								</div>																
							</div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-even">
								<div class="cell-300 pad-left">									
									<span class="span-1">Slug:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.slug %></span>
								</div>																
							</div>
							<div class="row line-separator row-even"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row line-separator row-odd"><div class="cell-300"></div><div class="cell-700"></div></div>
							<div class="row row-odd">
								<div class="cell-300 pad-left">									
									<span class="span-1">key_words:</span>
								</div>
								<div class="cell-700 pad-right">
									<span class="span-3"><%= @archive.key_words %></span>
								</div>																
							</div>
						</div>
						<div style="height: 100px;"></div>
						