<% @title = "Archives Edit" %>

	<style>
	
		.archives-edit {
			width: 1000px;
			margin: 0 auto;
		}
		.archives-edit .table {
			display: table;
			background-color: #B2C7CF;
			width: 1000px;
			border-radius: 20px;
			border:2px solid #254520;
			box-shadow: 1px 1px 10px #888888;
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 60px;
		}
		.archives-edit .input {
			font-family: Arial, Helvetica, sans-serif;
			color: #000;			
			font-size: 16px;
			width: 580px;
			height: 24px;
			border-style:solid;
			border-radius: 4px;
			background-color: #fff;
			border-color: #000;
			border-width: 1px;
			padding-left: 6px;
		}
		.archives-edit .input:focus {
			border-color: #3949C4;
			color: #000;
			-webkit-box-shadow: 0 0 10px #3949C4;
			-moz-box-shadow: 0 0 10px #3949C4;
			box-shadow: 0 0 10px #3949C4;
		}
		.archives-edit .input:disabled {
			border-color: #523401;
			color: #523401;
			background-color:#CCCBC8;
		}
		.archives-edit .input-label {
			font-family: Arial, Helvetica, sans-serif;
			color: #000;
			font-size: 16px;
			width: 280px;
			height: 18px;
		}
		.archives-edit .input-label:disabled {
			font-family: Arial, Helvetica, sans-serif;
			color: #523401;
		}
		.archives-edit .spacer {
			height: 16px;
		}
		.archives-edit .cell-right {
			display: table-cell;
			width: 700px;
			text-align: left;
			align: top;		
		}
		.archives-edit .cell-left {
			display: table-cell;
			width: 300px;	
			align: top;
			text-align: right;		
			padding-right: 20px;
		}
		/*.archives-edit .cell-submit {
			display: table-cell;
			width: 400px;
			text-align: left;
			align: top;		
			padding-left: 0px;
		}*/
		.archives-edit .btn-submit {
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 308px;
		  	height: 30px;
		  	background: linear-gradient(#000, #000);
		  	text-shadow: 1px 1px 1px #0E86B2; 
		  	border-radius: 6px;
		}
		.archives-edit .btn-submit:focus {
		  background: #CCC; 
		  color: #5F7A2A;
		  box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}
		.archives-edit .btn-submit:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(255,255,255,0.3);
		}
		.archives-edit .btn-submit:active { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(0,0,0,0.3); 
		}
		
	</style>

	<%= render 'share/backtotop' %>

	<div style="height: 50px;"></div>
	<div class="archives-edit">
		<div class="table">
			<div class="row">
				<div class="cell-100percent">

					<%= form_for(:archive, :url => {:action => 'update', :id => @archive.id}) do |f| %>
				
					<div class="row">
						<div class="cell-left">
							<%= f.label(:id, 'ID', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :id, :class => 'input', :disabled => true %>	
						</div>      	
					</div>
					<!-- <div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<#%= f.label(:article_id, 'Article ID', class: 'input-label') %#>							
						</div>
						<div class="cell-right">
							<#%= f.text_field :article_id, :class => 'input', :autofocus => true %#>	
						</div>      	
					</div> -->
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:created_at, 'Created', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :created_at, :class => 'input', :disabled => true %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:updated_at, 'Updated', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :updated_at, :class => 'input', :disabled => true %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:name_admin, 'Admin', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :name_admin, :class => 'input', :value => @admin %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:name_author, 'Author *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :name_author, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:date_article, 'Article Date', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :date_article, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:article_type, 'Genre *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :article_type, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:name_file, 'File *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :name_file, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:name_url, 'File Folder *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :name_url, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:subtitle_1, 'Subtitle Main *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :subtitle_1, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:subtitle_2, 'Subtitle Small', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :subtitle_2, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:linkimg, 'Image *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :linkimg, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:img_height, 'Image Height when width=300 *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :img_height, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:subtitle_1_carousel, 'Subtitle Main - Carousel *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :subtitle_1_carousel, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:subtitle_2_carousel, 'Subtitle Small - Carousel', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :subtitle_2_carousel, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:linkimg_carousel, 'Image - Carousel *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :linkimg_carousel, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:img_height_carousel, 'Image Height when width=600 - Carousel *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :img_height_carousel, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:linktitle, 'Link Title (Twitter, etc) *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :linktitle, :class => 'input' %>	
						</div>      	
					</div>
					<!-- <div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<#%= f.label(:linkimg_url, 'Link Image Folder', class: 'input-label') %#>							
						</div>
						<div class="cell-right">
							<#%= f.text_field :linkimg_url, :class => 'input' %#>	
						</div>      	
					</div> -->
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:description, 'Description (Twitter, etc)', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :description, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:slug, 'Slug *', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_field :slug, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
							<%= f.label(:key_words, 'Key Words', class: 'input-label') %>							
						</div>
						<div class="cell-right">
							<%= f.text_area :key_words, :class => 'input' %>	
						</div>      	
					</div>
					<div class="spacer"></div>
					<div class="row">
						<div class="cell-left">
						</div>
						<div class="cell-right">
							<div style="height: 30px;"></div>
							<%= f.submit "Update", class: 'btn-submit' %>
						</div>      	
					</div>      		
										
					<% end %>
					
				</div>
			</div>
		</div>
	</div>
	
	<div style="height: 100px;"></div>

