

<!-- 
# Table name: contacts
#	
#  id               :integer          not null, primary key
#  name_first       :string(50)
#  name_last        :string(50)
#  name_title       :string(50)
#  type_affiliation :string(50)
#  name_affiliation :string(100)
#  email            :string(255)      default(""), not null
#  city_workshop    :string(50)
#  created_at       :datetime
#  updated_at       :datetime
#  address          :string(50)
#  city             :string(50)
#  state            :string(50)
#  zip              :string(50)
#  phone            :string(50) 
-->

	<div class="main">

		<div id="scroll1" class="scrollbox-both" onscroll="scrollPos();">	

			<% if @admin_contacts.any? %>
		
			<%= hidden_field_tag :direction, params[:direction] %>
			<%= hidden_field_tag :sort, params[:sort] %>	
			<%= hidden_field_tag :pos, params[:pos] %>	
				
			<h5>Record Count: <%= @admin_contacts.count %></h5>
					
			<table id="admin-contacts" title="Contacts" >    	  
				  	
		       <colgroup>
			       <col class="member-table"></col>
			       <col class="member-table"></col>
			       <col class="member-table"></col>
			       <col class="member-table"></col>
			       <col class="member-table"></col>
			       <col class="member-table"></col>
			       <col class="member-table"></col>
			       <col class="member-table"></col>			       
			       <col class="member-table"></col>			       
		       </colgroup>


			  <tr align="left">
			    <th class="member-table" id="th_view" field="view" style="width: 100px;><div class="header-shift" style="padding-left: 6px;"><h4></h4></div></th>
			    <th class="member-table" id="th_delete" field="delete" style="width: 100px;"><div class="header-shift"><h4></h4></div></th>
			  	
			    <th class="member-table" id="th_id" field="id" style="width: 50px;"><div id="id" class="header-shift"><h4><%= sortable "id", "ID" %></div></th>
			    <th class="member-table" id="th_created_at" field="created_at" style="width: 300px;"><div id="created_at" class="header-shift"><h4><%= sortable "created_at", "Created" %></div></th>
			    <th class="member-table" id="th_name" field="name" style="width: 300px;"><div id="name" class="header-shift"><h4><%= sortable "name", "Name" %></h4></div></th>
			    <th class="member-table" id="th_email" field="email" style="width: 300px;"><div id="email" class="header-shift"><h4><%= sortable "email", "Email" %></h4></div></th>
			    <th class="member-table" id="th_phone" field="phone" style="width: 300px;"><div id="" class="header-shift"><h4><%= sortable "phone", "Phone" %></h4></div></th>
			    <th class="member-table" id="th_subject" field="subject" style="width: 300px;"><div id="" class="header-shift"><h4><%= sortable "subject", "Subject" %></h4></div></th>
			    <th class="member-table" id="th_message" field="message" style="width: 300px;"><div id="" class="header-shift"><h4><%= sortable "message", "Message" %></h4></div></th>
			  </tr>
			<% @admin_contacts.each do |admin_contact| %>
			  <tr align="left" class="tr-events">
			  	
			    <td style="padding-left: 6px;"><h5><%= link_to('View', {:action => 'show', :id => admin_contact.id, :class => 'member-table'}) %></h5></td>

			    <td>
			    	<% if current_user.admin %>
			    	<div style="position: relative; bottom: -2px">
				    	<h5>
						   	<% delete_msg = "Delete ID: " + admin_contact.id.to_s + " ?" %>
							<%= button_to "Delete", {:action => 'destroy', :id => admin_contact.id}, :method => :delete, :confirm => delete_msg, :class => 'delete-btn' %>
						</h5>
					</div>
					<% end %>
				</td>
			  	
			    <td><h5 class="member-table"><%= admin_contact.id %></h5></td>
			    <td><h5 class="member-table"><%= admin_contact.created_at.to_formatted_s(:db) %></h5></td>
			    <td><h5 class="member-table"><%= admin_contact.name %></h5></td>
			    <td><h5 class="member-table"><%= admin_contact.email %></h5></td>
			    <td><h5 class="member-table"><%= admin_contact.phone %></h5></td>
			    <td><h5 class="member-table"><%= admin_contact.subject %></h5></td>
			    <td><h5 class="member-table"><%= admin_contact.message %></h5></td>
			  </tr>
			<% end %>

			<!-- number_to_currency(product.price) -->
			
			</table>			
					
			<%= will_paginate @admin_contacts %>
		
			<% else %>
			<div class="row" style="color: red;">
				<h3>No record for Events</h3>
			</div>
			<div class="row-end">&nbsp;</div>			
		
			<% end %>
						
			<div class="row" style="height: 20px;"></div>

		</div>

	</div>
	
	
<script>
	
		
		// $('*[data-confirm]').click(function(){
	    	// return confirm($(this).attr('data-confirm'));
		// });


        function scrollPos() {
            // var div = document.getElementById("scroll1").scrollLeft;
            // document.getElementById("pos").innerHTML = div;
            $("#pos").html($("#scroll1").scrollLeft());
        }
		
		function moveScroll() {
			// alert('moveScroll');
			$("#scroll1").scrollLeft($("#pos").html());
		}
				
				
		$(function() {
		
    		var $cols = $('colgroup');

			$("table#admin-contacts tr:nth-child(even)").addClass('gray');
			$("table#admin-contacts tr:nth-child(odd)").addClass('white');

		    // id								3
		    // created_at						4
		    // name_first						5
		    // name_last						6
		    // name_title						7
		    // type_affiliation					8
		    // name_affiliation					9

			var cell;
			var cellIndex;
			var row;
			var rowIndex;
			var header;
			var cellTh;
			var cellIndexTh;
			
			$("table#admin-contacts th").mouseover ( function () {

				cellTh = $(this).closest('th');
				cellIndexTh = cellTh[0].cellIndex;
				cellIndexTh += 1;
				
				$("table#admin-contacts td:nth-child(" + cellIndexTh + ")").addClass('hover-col');
				$(this).addClass('hover-col');
				
			}).mouseout ( function() {
				
				$("table#admin-contacts td:nth-child(" + cellIndexTh + ")").removeClass('hover-col');				
				$(this).removeClass('hover-col');
				
			});
			
			$("table#admin-contacts td").mouseover ( function () {
				
				cell = $(this).closest('td');
				cellIndex = cell[0].cellIndex;
				cellIndex += 1;
				row = cell.closest('tr');
				rowIndex = row[0].rowIndex;
				
				switch(cellIndex)
				{
				case 1:
					header = "th_view"	  
				  break;
				case 2:
					header = "th_delete"	  
				  break;
				case 3:
					header = "#th_id"	  
				  break;
				case 4:
					header = "#th_created_at"	  
				  break;
				case 5:
					header = "#th_name"	  
				  break;
				case 6:
					header = "#th_phone"	  
				  break;
				case 7:
					header = "#th_subject"	  
				  break;
				case 8:
					header = "#th_message"	  
				  break;

				default:
					//
				}				

				$(header).addClass('hover-col');
		
				if (rowIndex % 2 === 0) {
					$("table#admin-contacts td:nth-child(" + cellIndex + ")").addClass('hover-col');
					row.removeClass('gray').addClass('hover-row');					
				}
				else {
					$("table#admin-contacts td:nth-child(" + cellIndex + ")").addClass('hover-col');
					row.removeClass('white').addClass('hover-row');										
				}		
			}).mouseout( function(){

				$(header).removeClass('hover-col');
				
				if (rowIndex % 2 === 0) {
					$("table#admin-contacts td:nth-child(" + cellIndex + ")").removeClass('hover-col');
					row.removeClass('hover-row').addClass('gray');					
				}
				else {
					$("table#admin-contacts td:nth-child(" + cellIndex + ")").removeClass('hover-col');
					row.removeClass('hover-row').addClass('gray');					
				}		
			});
			
			var rowSelect = -1;			
			
			$("table#admin-contacts td").on('click', function () {
	
				cell = $(this).closest('td');
				btn_delete = $(this).closest('form');
				row = cell.closest('tr');
				rowIndex = row[0].rowIndex;

				if (rowSelect !== -1) {
					$("table#admin-contacts tr").removeClass('row-select');
				}
				
				rowSelect = rowIndex;
				row.addClass('row-select');
				btn_delete.removeClass('btn-color').addClass('btn-color-select');
			});
	
	
			
			$(document).on('click', function(event) {
				// alert(event.target);
				elem = event.target.className;
				if ((elem === 'hover-col') || (elem === 'delete-btn') || (elem === 'member-table')) {
					//
				}
				else {
					$("table#admin-contacts tr").removeClass('row-select');					
				}
			});
		});
		
</script>



