

		<div id="scroll1" class="scrollbox-both" onscroll="scrollPos();">	
			
			<% if @mtab7lets.any? %>
				
				<%= hidden_field_tag :direction, params[:direction] %>
				<%= hidden_field_tag :sort, params[:sort] %>	
				<%= hidden_field_tag :pos, params[:pos] %>	
				
				<h5>Record Count: <%= @mtab7lets.count %></h5>
    	    				
				<table id="tbltablets" title="Tablets" >    	  
					  	
			       <colgroup>
				       <col class="member-table"></col> <!-- 1 -->
				       <col class="member-table"></col> <!-- 2 -->
				       <col class="member-table"></col> <!-- 3 -->
				       <col class="member-table"></col> <!-- 4 -->
				       <col class="member-table"></col> <!-- 5 -->
				       <col class="member-table"></col> <!-- 6 -->
				       <col class="member-table"></col> <!-- 7 -->
				       <col class="member-table"></col> <!-- 8 -->
				       <col class="member-table"></col> <!-- 9 -->
				       <col class="member-table"></col> <!-- 10 -->
				       <col class="member-table"></col> <!-- 11 -->
				       <col class="member-table"></col> <!-- 12 -->
				       <col class="member-table"></col> <!-- 13 -->
				       <col class="member-table"></col> <!-- 14 -->
				       <col class="member-table"></col> <!-- 15 -->
				       <col class="member-table"></col> <!-- 16 -->
				       <col class="member-table"></col> <!-- 17 -->
				       <col class="member-table"></col> <!-- 18 -->
				       <col class="member-table"></col> <!-- 19 -->
				       <col class="member-table"></col> <!-- 20 -->
				       <col class="member-table"></col> <!-- 21 -->
				       <col class="member-table"></col> <!-- 22 -->
				       <col class="member-table"></col> <!-- 23 -->
				       <col class="member-table"></col> <!-- 24 -->
				       <col class="member-table"></col> <!-- 25 -->
				       <col class="member-table"></col> <!-- 26 -->
				       <col class="member-table"></col> <!-- 27 -->
				       <col class="member-table"></col> <!-- 28 -->
				       <col class="member-table"></col> <!-- 29 -->
				       <col class="member-table"></col> <!-- 30 -->
				       <col class="member-table"></col> <!-- 31 -->
				       <col class="member-table"></col> <!-- 32 -->
				       <col class="member-table"></col> <!-- 33 -->
				       <col class="member-table"></col> <!-- 34 -->				       
				       <col class="member-table"></col> <!-- 35 -->
				       <col class="member-table"></col> <!-- 36 -->
				       <col class="member-table"></col> <!-- 37 -->
				       <col class="member-table"></col> <!-- 38 -->
				       <col class="member-table"></col> <!-- 39 -->
				       <col class="member-table"></col> <!-- 40 -->
				       <col class="member-table"></col> <!-- 41 -->
				       <col class="member-table"></col> <!-- 42 -->
				       <col class="member-table"></col> <!-- 43 -->
				       <col class="member-table"></col> <!-- 44 -->				     
				       <col class="member-table"></col> <!-- 45 -->
				       <col class="member-table"></col> <!-- 46 -->
				       <col class="member-table"></col> <!-- 47 -->
				       <col class="member-table"></col> <!-- 48 -->
				       <col class="member-table"></col> <!-- 49 -->
				       <col class="member-table"></col> <!-- 50 -->
				       <col class="member-table"></col> <!-- 51 -->
				       <col class="member-table"></col> <!-- 52 -->
				       <col class="member-table"></col> <!-- 53 -->

			       </colgroup>

				  <tr align="left">
				    <th class="member-table" id="th_view" field="view" style="width: 50px"><div class="header-shift"><h4></h4></div></th>
				    <th class="member-table" id="th_delete" field="delete" style="width: 50px;"><div class="header-shift"><h4></h4></div></th>
				  	
				    <th class="member-table" id="th_id" field="id" style="width: 50px"><div id="id" class="header-shift"><h4><%= sortable "id", "ID" %></div></th>
				    <!-- <th field="created_at" width = "20">created_at</th>
				    <th field="updated_at" width = "20">updated_at</th> -->    
				    <th class="member-table" id="th_col_1" field="col_1" style="width: 100px"><div id="col_1" class="header-shift"><h4><%= sortable "col_1", "Col 1" %></h4></div></th>
				    <th class="member-table" id="th_col_2" field="col_2" style="width: 100px"><div id="col_2" class="header-shift"><h4><%= sortable "col_2", "Col 2" %></h4></div></th>
				    <th class="member-table" id="th_col_3" field="col_3" style="width: 100px"><div id="col_3" class="header-shift"><h4><%= sortable "col_3", "Col 3" %></h4></div></th>
				    <th class="member-table" id="th_col_4" field="col_4" style="width: 100px"><div id="col_4" class="header-shift"><h4><%= sortable "col_4", "Col 4" %></h4></div></th>
				    <th class="member-table" id="th_col_5" field="col_5" style="width: 100px"><div id="col_5" class="header-shift"><h4><%= sortable "col_5", "Col 5" %></h4></div></th>
				    <th class="member-table" id="th_col_6" field="col_6" style="width: 100px"><div id="col_6" class="header-shift"><h4><%= sortable "col_6", "Col 6" %></h4></div></th>
				    <th class="member-table" id="th_col_7" field="col_7" style="width: 100px"><div id="col_7" class="header-shift"><h4><%= sortable "col_7", "Col 7" %></h4></div></th>
				    <th class="member-table" id="th_col_8" field="col_8" style="width: 100px"><div id="col_8" class="header-shift"><h4><%= sortable "col_8", "Col 8" %></h4></div></th>
				    <th class="member-table" id="th_col_9" field="col_9" style="width: 100px"><div id="col_9" class="header-shift"><h4><%= sortable "col_9", "Col 9" %></h4></div></th>
				    <th class="member-table" id="th_col_10" field="col_10" style="width: 100px"><div id="col_10" class="header-shift"><h4><%= sortable "col_10", "Col 10" %></h4></div></th>
				    <th class="member-table" id="th_col_11" field="col_11" style="width: 100px"><div id="col_11" class="header-shift"><h4><%= sortable "col_11", "Col 11" %></h4></div></th>
				    <th class="member-table" id="th_col_12" field="col_12" style="width: 100px"><div id="col_12" class="header-shift"><h4><%= sortable "col_12", "Col 12" %></h4></div></th>
				    <th class="member-table" id="th_col_13" field="col_13" style="width: 100px"><div id="col_13" class="header-shift"><h4><%= sortable "col_13", "Col 13" %></h4></div></th>
				    <th class="member-table" id="th_col_14" field="col_14" style="width: 100px"><div id="col_14" class="header-shift"><h4><%= sortable "col_14", "Col 14" %></h4></div></th>
				    <th class="member-table" id="th_col_15" field="col_15" style="width: 100px"><div id="col_15" class="header-shift"><h4><%= sortable "col_15", "Col 15" %></h4></div></th>
				    <th class="member-table" id="th_col_16" field="col_16" style="width: 100px"><div id="col_16" class="header-shift"><h4><%= sortable "col_16", "Col 16" %></h4></div></th>
				    <th class="member-table" id="th_col_17" field="col_17" style="width: 100px"><div id="col_17" class="header-shift"><h4><%= sortable "col_17", "Col 17" %></h4></div></th>
				    <th class="member-table" id="th_col_18" field="col_18" style="width: 100px"><div id="col_18" class="header-shift"><h4><%= sortable "col_18", "Col 18" %></h4></div></th>
				    <th class="member-table" id="th_col_19" field="col_19" style="width: 100px"><div id="col_19" class="header-shift"><h4><%= sortable "col_19", "Col 19" %></h4></div></th>
				    <th class="member-table" id="th_col_20" field="col_20" style="width: 100px"><div id="col_20" class="header-shift"><h4><%= sortable "col_20", "Col 20" %></h4></div></th>
				    <th class="member-table" id="th_col_21" field="col_21" style="width: 100px"><div id="col_21" class="header-shift"><h4><%= sortable "col_21", "Col 21" %></h4></div></th>
				    <th class="member-table" id="th_col_22" field="col_22" style="width: 100px"><div id="col_22" class="header-shift"><h4><%= sortable "col_22", "Col 22" %></h4></div></th>
				    <th class="member-table" id="th_col_23" field="col_23" style="width: 100px"><div id="col_23" class="header-shift"><h4><%= sortable "col_23", "Col 23" %></h4></div></th>
				    <th class="member-table" id="th_col_24" field="col_24" style="width: 100px"><div id="col_24" class="header-shift"><h4><%= sortable "col_24", "Col 24" %></h4></div></th>
				    <th class="member-table" id="th_col_25" field="col_25" style="width: 100px"><div id="col_25" class="header-shift"><h4><%= sortable "col_25", "Col 25" %></h4></div></th>
				    <th class="member-table" id="th_col_26" field="col_26" style="width: 100px"><div id="col_26" class="header-shift"><h4><%= sortable "col_26", "Col 26" %></h4></div></th>
				    <th class="member-table" id="th_col_27" field="col_27" style="width: 100px"><div id="col_27" class="header-shift"><h4><%= sortable "col_27", "Col 27" %></h4></div></th>
				    <th class="member-table" id="th_col_28" field="col_28" style="width: 100px"><div id="col_28" class="header-shift"><h4><%= sortable "col_28", "Col 28" %></h4></div></th>
				    <th class="member-table" id="th_col_29" field="col_29" style="width: 100px"><div id="col_29" class="header-shift"><h4><%= sortable "col_29", "Col 29" %></h4></div></th>
				    <th class="member-table" id="th_col_30" field="col_30" style="width: 100px"><div id="col_30" class="header-shift"><h4><%= sortable "col_30", "Col 30" %></h4></div></th>
				    <th class="member-table" id="th_col_31" field="col_31" style="width: 100px"><div id="col_31" class="header-shift"><h4><%= sortable "col_31", "Col 31" %></h4></div></th>
				    <th class="member-table" id="th_col_32" field="col_32" style="width: 100px"><div id="col_32" class="header-shift"><h4><%= sortable "col_32", "Col 32" %></h4></div></th>
				    <th class="member-table" id="th_col_33" field="col_33" style="width: 100px"><div id="col_33" class="header-shift"><h4><%= sortable "col_33", "Col 33" %></h4></div></th>
				    <th class="member-table" id="th_col_34" field="col_34" style="width: 100px"><div id="col_34" class="header-shift"><h4><%= sortable "col_34", "Col 34" %></h4></div></th>
				    <th class="member-table" id="th_col_35" field="col_35" style="width: 100px"><div id="col_35" class="header-shift"><h4><%= sortable "col_35", "Col 35" %></h4></div></th>
				    <th class="member-table" id="th_col_36" field="col_36" style="width: 100px"><div id="col_36" class="header-shift"><h4><%= sortable "col_36", "Col 36" %></h4></div></th>
				    <th class="member-table" id="th_col_37" field="col_37" style="width: 100px"><div id="col_37" class="header-shift"><h4><%= sortable "col_37", "Col 37" %></h4></div></th>
				    <th class="member-table" id="th_col_38" field="col_38" style="width: 100px"><div id="col_38" class="header-shift"><h4><%= sortable "col_38", "Col 38" %></h4></div></th>
				    <th class="member-table" id="th_col_39" field="col_39" style="width: 100px"><div id="col_39" class="header-shift"><h4><%= sortable "col_39", "Col 39" %></h4></div></th>
				    <th class="member-table" id="th_col_40" field="col_40" style="width: 100px"><div id="col_40" class="header-shift"><h4><%= sortable "col_40", "Col 40" %></h4></div></th>
				    <th class="member-table" id="th_col_41" field="col_41" style="width: 100px"><div id="col_41" class="header-shift"><h4><%= sortable "col_41", "Col 41" %></h4></div></th>
				    <th class="member-table" id="th_col_42" field="col_42" style="width: 100px"><div id="col_42" class="header-shift"><h4><%= sortable "col_42", "Col 42" %></h4></div></th>
				    <th class="member-table" id="th_col_43" field="col_43" style="width: 100px"><div id="col_43" class="header-shift"><h4><%= sortable "col_43", "Col 43" %></h4></div></th>
				    <th class="member-table" id="th_col_44" field="col_44" style="width: 100px"><div id="col_44" class="header-shift"><h4><%= sortable "col_44", "Col 44" %></h4></div></th>
				    <th class="member-table" id="th_col_45" field="col_45" style="width: 100px"><div id="col_45" class="header-shift"><h4><%= sortable "col_45", "Col 45" %></h4></div></th>
				    <th class="member-table" id="th_col_46" field="col_46" style="width: 100px"><div id="col_46" class="header-shift"><h4><%= sortable "col_46", "Col 46" %></h4></div></th>
				    <th class="member-table" id="th_col_47" field="col_47" style="width: 100px"><div id="col_47" class="header-shift"><h4><%= sortable "col_47", "Col 47" %></h4></div></th>
				    <th class="member-table" id="th_col_48" field="col_48" style="width: 100px"><div id="col_48" class="header-shift"><h4><%= sortable "col_48", "Col 48" %></h4></div></th>
				    <th class="member-table" id="th_col_49" field="col_49" style="width: 100px"><div id="col_49" class="header-shift"><h4><%= sortable "col_49", "Col 49" %></h4></div></th>
				    <th class="member-table" id="th_col_50" field="col_50" style="width: 100px"><div id="col_50" class="header-shift"><h4><%= sortable "col_50", "Col 50" %></h4></div></th>
				  </tr>
				<% @mtab7lets.each do |mtab7let| %>
				  <tr align="left">
				  	
				  	<% if false %>
				    <td><h5><%= link_to('View', { :action => 'show', :id => mtab7let.id, :class => 'member-table' } ) %></h5></td>
					<% end %>

				    <td><h5><%= link_to('View', { :action => 'show', :id => mtab7let.id, :form => :js, :class => 'member-table', :remote => true } ) %></h5></td>

				    <td>
				    	<div style="position: relative; bottom: -2px">
					    	<h5>
							   	<% delete_msg = "Delete ID: " + mtab7let.id.to_s + " ?" %>
								 <!-- button_to "Delete", { :action => 'destroy', :id => mtab7let.id }, :method => :delete, data: { confirm: delete_msg }, :class => 'delete-btn', :remote => true  -->
								<%= link_to "Delete", mtab7let, :remote => true, data: { confirm: delete_msg }, :method => :delete %>
							</h5>
						</div>
					</td>
				  	
				    <td><h5 class="member-table"><%= mtab7let.id %></h5></td>
				    <!-- <td> mtab7let.created_at.strftime("%B %e, %Y") </td>
				    <td> mtab7let.updated_at.strftime("%B %e, %Y") </td> -->    
				    <td><h5 class="member-table"><%= mtab7let.col_1 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_2 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_3 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_4 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_5 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_6 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_7 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_8 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_9 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_10 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_11 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_12 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_13 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_14 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_15 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_16 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_17 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_18 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_19 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_20 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_21 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_22 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_23 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_24 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_25 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_26 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_27 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_28 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_29 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_30 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_31 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_32 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_33 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_34 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_35 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_36 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_37 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_38 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_39 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_40 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_41 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_42 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_43 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_44 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_45 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_46 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_47 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_48 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_49 %></h5></td>
				    <td><h5 class="member-table"><%= mtab7let.col_50 %></h5></td>
				  </tr>
				<% end %>

				</table>			
							
				  <%= will_paginate @mtab7lets %>							
							
			<% else %>
						
				<h3>No record for MTablet 7</h3>
				
			<% end %>
			
		</div>
		
   
	<script>
		
        function scrollPos() {
            $("#pos1").html($("#scroll1").scrollLeft());
        }
		
		function moveScroll() {
			$("#scroll1").scrollLeft($("#pos1").html());
		}
				

		$(function() {
		
			jQuery.ajaxSetup({
			    'beforeSend': function(xhr) {
			        xhr.setRequestHeader("Accept", "text/javascript")
			    }
			});
		
    		var $cols = $('colgroup');

			$("table#tbltablets tr:nth-child(even)").addClass('gray');
			$("table#tbltablets tr:nth-child(odd)").addClass('white');

			var cell;
			var cellIndex;
			var row;
			var rowIndex;
			var header;
			var cellTh;
			var cellIndexTh;
			
			$("table#tbltablets th").mouseover ( function () {

				cellTh = $(this).closest('th');
				cellIndexTh = cellTh[0].cellIndex;
				cellIndexTh += 1;
				
				$("table#tbltablets td:nth-child(" + cellIndexTh + ")").addClass('hover-col');
				$(this).addClass('hover-col');
				
			}).mouseout ( function() {
				
				$("table#tbltablets td:nth-child(" + cellIndexTh + ")").removeClass('hover-col');				
				$(this).removeClass('hover-col');
				
			});
			
			$("table#tbltablets td").mouseover ( function () {
				
				cell = $(this).closest('td');
				cellIndex = cell[0].cellIndex;
				cellIndex += 1;
				row = cell.closest('tr');
				rowIndex = row[0].rowIndex;
				
				switch(cellIndex)
				{
				case 1:
					header = "th_view"	  
				  break;
				case 2:
					header = "th_delete"	  
				  break;
				case 3:
					header = "#th_id"	  
				  break;
				case 4:
					header = "#th_col_1"	  
				  break;				  
				case 5:
					header = "#th_col_2"	  
				  break;
				case 6:
					header = "#th_col_3"	  
				  break;
				case 7:
					header = "#th_col_4"	  
				  break;
				case 8:
					header = "#th_col_5"	  
				  break;
				case 9:
					header = "#th_col_6"	  
				  break;
				case 10:
					header = "#th_col_7"	  
				  break;
				case 11:
					header = "#th_col_8"	  
				  break;
				case 12:
					header = "#th_col_9"	  
				  break;
				case 13:
					header = "#th_col_10"	  
				  break;
				case 14:
					header = "#th_col_11"	  
				  break;
				case 15:
					header = "#th_col_12"	  
				  break;
				case 16:
					header = "#th_col_13"	  
				  break;
				case 17:
					header = "#th_col_14"	  
				  break;
				case 18:
					header = "#th_col_15"	  
				  break;
				case 19:
					header = "#th_col_16"	  
				  break;
				case 20:
					header = "#th_col_17"	  
				  break;
				case 21:
					header = "#th_col_18"	  
				  break;
				case 22:
					header = "#th_col_19"
				  break;	  
				case 23:
					header = "#th_col_20"	  
				  break;
				case 24:
					header = "#th_col_21"	  
				  break;
				case 25:
					header = "#th_col_22"	  
				  break;
				case 26:
					header = "#th_col_23"	  
				  break;
				case 27:
					header = "#th_col_24"	  
				  break;
				case 28:
					header = "#th_col_25"	  
				  break;
				case 29:
					header = "#th_col_26"	  
				  break;
				case 30:
					header = "#th_col_27"	  
				  break;
				case 31:
					header = "#th_col_28"	  
				  break;
				case 32:
					header = "#th_col_29"	  
				  break;
				case 33:
					header = "#th_col_30"	  
				  break;
				case 34:
					header = "#th_col_31"	  
				  break;
				case 35:
					header = "#th_col_32"	  
				  break;
				case 36:
					header = "#th_col_33"	  
				  break;
				case 37:
					header = "#th_col_34"	  
				  break;
				case 38:
					header = "#th_col_35"	  
				  break;
				case 39:
					header = "#th_col_36"	  
				  break;
				case 40:
					header = "#th_col_37"	  
				  break;
				case 41:
					header = "#th_col_38"	  
				  break;
				case 42:
					header = "#th_col_39"	  
				  break;
				case 43:
					header = "#th_col_40"	  
				  break;
				case 44:
					header = "#th_col_41"	  
				  break;
				case 45:
					header = "#th_col_42"	  
				  break;
				case 46:
					header = "#th_col_43"	  
				  break;
				case 47:
					header = "#th_col_44"	  
				  break;
				case 48:
					header = "#th_col_45"	  
				  break;
				case 49:
					header = "#th_col_46"	  
				  break;
				case 50:
					header = "#th_col_47"	  
				  break;
				case 51:
					header = "#th_col_48"	  
				  break;
				case 52:
					header = "#th_col_49"	  
				  break;
				case 53:
					header = "#th_col_50"	  
				  break;

				default:
					//
				}				

				$(header).addClass('hover-col');
		
				if (rowIndex % 2 === 0) {
					$("table#tbltablets td:nth-child(" + cellIndex + ")").addClass('hover-col');
					row.removeClass('gray').addClass('hover-row');					
				}
				else {
					$("table#tbltablets td:nth-child(" + cellIndex + ")").addClass('hover-col');
					row.removeClass('white').addClass('hover-row');										
				}		
			}).mouseout( function(){

				$(header).removeClass('hover-col');
				
				if (rowIndex % 2 === 0) {
					$("table#tbltablets td:nth-child(" + cellIndex + ")").removeClass('hover-col');
					row.removeClass('hover-row').addClass('gray');					
				}
				else {
					$("table#tbltablets td:nth-child(" + cellIndex + ")").removeClass('hover-col');
					row.removeClass('hover-row').addClass('gray');					
				}		
			});
			
			var rowSelect = -1;			
			
			$("table#tbltablets td").on('click', function () {
	
				cell = $(this).closest('td');
				btn_delete = $(this).closest('form');
				row = cell.closest('tr');
				rowIndex = row[0].rowIndex;

				if (rowSelect !== -1) {
					$("table#tbltablets tr").removeClass('row-select');
				}
				
				rowSelect = rowIndex;
				row.addClass('row-select');
				btn_delete.removeClass('btn-color').addClass('btn-color-select');
			});
	
	
			
			$(document).on('click', function(mtab7let) {
				// alert(mtab7let.target);
				elem = mtab7let.target.className;
				if ((elem === 'hover-col') || (elem === 'delete-btn') || (elem === 'member-table')) {
					//
				}
				else {
					$("table#tbltablets tr").removeClass('row-select');					
				}
			});
		});

			
	</script>


