
	<style>
		
		#file {
			display: none;
		}
		.file-input {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			background-color: #ccc;						
			width: 390px;
			height: 15px;
			color: #CC1013;
			padding-top: 6px;
			padding-left: 10px; 
		}
		.file-input:hover {
			cursor:pointer;
		}
				
	</style>


	<div id="page">

		<div style="height: 30px;"></div>

		<header>
	
	    	<div id="pos" style="display: none;"></div>

			<%= render 'share/backtotop' %>

			<div style="height: 20px;"></div>
						
		</header>
		
		<div id="page-inner">
			
      		<div id="loading"> </div>
									
			<table width="1000px">	
				<tr>
					<td style="width: 400px">
						<!-- <form>
						    <input type="file">
						</form>
						<script>
							$(":file").change(function(){
								$( "#file_name" ).val( $(":file").val() );
							});
						</script> -->
						
						<div id="file_csv" class="file-input">Choose CSV file</div>
						<input type="file" name="file_csv" id="file_csv_input" />
						<script>
							var wrapper_csv = $('<div/>').css({height:0,width:0,'overflow':'hidden'});
							var fileInput_csv = $("#file_csv_input").wrap(wrapper_csv);
							fileInput_csv.change(function(){
							    $this = $(this);
							    $('#file_csv').text($this.val());
							    $("#file_name").val($this.val());
							    // $("#file_type").val($("#import_delimiter").val());
							    // alert($("#import_delimiter").val());							    
							})
							$('#file_csv').on('click', function(){
							    fileInput_csv.click();
							}).show();
						</script>		

					</td>
					<td>
						<%= form_tag import_mtab1lets_path, :method => 'post', :id => "import_mtab1lets" do %>
							<%= hidden_field_tag :file_name, params[:file_name] %>	
							<%= hidden_field_tag :file_type, params[:file_type] %>	
					    	<%= submit_tag "Import CSV", :class => 'exec-sql-btn' %>
						<% end %>			
					</td>
					<td width="20px"></td>
					<td>
				   		<%= select_tag("import_delimiter", options_for_select(
				   				[['-Select Delimiter-','0'],
				   				['comma ,','1'],
				   				['semicolon ;','2']]), :class => 'search-by-tab-btn', :html => {:id => 'import_delimiter'}) %>
					</td>
				</tr>
			</table>
			
<% if false %>			
			<div style="height: 20px;"></div>
			<table>
				<tr>
					<td style="width: 400px">
						
						<div id="file_xls" class="file-input">Choose Excel file</div>
						<input type="file" name="file_xls" id="file_xls_input" />
						<script>
							var wrapper_xls = $('<div/>').css({height:0,width:0,'overflow':'hidden'});
							var fileInput_xls = $("#file_xls_input").wrap(wrapper);
							fileInput_xls.change(function(){
							    $this = $(this);
							    $('#file_xls').text($this.val());
							    $("#file_name_excel").val($this.val());
							})
							$('#file_xls').click(function(){
							    fileInput_xls.click();
							}).show();
						</script>		
					</td>					
					<td>
						 <%= form_tag import_mtab1lets_path( :format => :js), :id => "form_xls", :remote => true, multipart: true do %>							
						  	<%= hidden_field_tag :file_name_excel, params[:file_name_exel] %>
						  	<%= submit_tag "Import Excel XLSX", class: 'exec-sql-btn' %>
						<% end %>
					</td>
				</tr>
			</table>
<% end %>

			<div style="height: 20px;"></div>
			
			<table width="1222px">
				<tr>
					<td width="300px">
						<p>
						   <%= link_to("Download: (Semi-colon ';' delimited)", { :action => 'export', :id => '100', :format => 'csv' }, :id => 'export_csv', :class => 'links') %>
						</p>	
					</td>
					<td width="150px"></td>					
					<td style="text-align: right;">
				    	<div>
					    	<h5>
							   	<% delete_all_msg = "Delete all records and reset index in MTablet 1?" %>
								<%= button_to "Delete All Records and Reset Index", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long', :remote => true %>
							</h5>
						</div>
					</td>
				</tr>		
			</table>	
			<div style="clear: both;"></div>
			
			<div class="table-page">
			<table class="table-layout-fixed">
				<tr>
					<td width="800px">
					</td>
					<td style="100px;">				
					</td>
					<td style="200px; padding-right: 10px; text-align: right;">				
						<span style="font-size: 13px;">Record Count: <%= @mtab1lets.count %></span>
					</td>
				</tr>
				<tr>
					<td style="width: 100%;">
						<div id="tablets">
							 <%= render 'mtab1lets/list' %>
						</div>
					</td>
				</tr>
			</table>
			</div>
			
		</div>	
		
	</div>				
	

	<script>

		$(document).ready(function () {							
		// $(window).load( function() {
			
			$("#tablets th a, #tablets .pagination a").on("click", function() {
				// $.getScript(this.href);
				$.get("/mtab1lets/list", null, null, "script");
				
				return false;
			});

			
		    // $("#tablets").find("th a, .pagination a").livequery(function () {
		        // $(this).attr("data-remote", true);
				// $.get("/mtab1lets/list", null, null, "script");
				// return false;		        
		    // });

			
			$("#import_mtab1lets").submit(function() {
						
				if ($("#file_csv").html().toString() === "Choose CSV file") {
					alert('Select a file');
					return false;
				}
				else {
					if ($("#import_delimiter").val().toString() === '0') {
						alert('You must first select a file type');
						return false;						
					}
					else {
				    	$("#file_name").val($this.val());
				    	$("#file_type").val($("#import_delimiter").val());
		
						$.post( "/mtab1lets/import", $("#import_mtab1lets").serialize(), null, 'script', function() {
						})
						.done(function() {
							$("#tablets th a, #tablets .pagination a").on("click", function() {
								 $.get("/mtab1lets/list", null, null, "script");
								return false;
							});
						})
						.fail(function() {
							alert( "ajax load error" );
						});
				
						return false;
					}
				}
			});
		});		

		
	</script>
					
					
					
						<!-- var jqxhr = $.post( "/mtab1lets/import", $("#import_mtab1lets").serialize(), null, 'script', function() {
							// alert( "success" );
						})
						.done(function() {
							// alert( "second success" );
						})
						.fail(function() {
							alert( "ajax load error" );
						})
						.always(function() {
							// alert( "finished" );
						});
						// Perform other work here ...
						// Set another completion function for the request above
						jqxhr.always(function() {
							// alert( "second finished" );
						});		 -->					
