
						<div style="height: 100px;"></div>
						
						<span><%= link_to('&laquo;'.html_safe + ' Previous', {:action => 'show', :id => @admin_reg_commun_previous.id }) if !@admin_reg_commun_previous.nil? %></span>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<span><%= link_to('Next '.html_safe + '&raquo;'.html_safe, {:action => 'show', :id => @admin_reg_commun_next.id }) if !@admin_reg_commun_next.nil? %></span>
						<br>
						<br>						

						<!-- 
						# Table name: reg_communs
						#
						#  id                        :integer          not null, primary key
						#  name_first                :string(50)
						#  name_last                 :string(50)
						#  name_title                :string(50)
						#  name_affiliation          :string(100)
						#  address                   :string(100)
						#  city                      :string(50)
						#  state                     :string(50)
						#  zip                       :string(10)
						#  phone                     :string(50)
						#  email                     :string(255)      default(""), not null
						-->

						<h1>Community Registration Record:</h1>
						<br />
						<p>ID: <%= @admin_reg_commun.id %></p>
						<br />
						<p>Created: <%= @admin_reg_commun.created_at %></p>
						<br />
						<p>Updated: <%= @admin_reg_commun.updated_at %></p>						
						<br />
						<br />
						
						<p>First Name: <%= @admin_reg_commun.name_first %></p>
						<br />
						<p>Last Name: <%= @admin_reg_commun.name_last %></p>
						<br />
						<p>Title: <%= @admin_reg_commun.name_title %></p>
						<br />
						<p>Affiliation Name: <%= @admin_reg_commun.name_affiliation %></p>
						<br />
						<br />
						<p>Public or Private: <%= @admin_reg_commun.public_private %></p>
						<br />
						<br />
						<p>Address: <%= @admin_reg_commun.address %></p>
						<br />
						<p>City: <%= @admin_reg_commun.city %></p>
						<br />
						<p>State: <%= @admin_reg_commun.state %></p>
						<br />
						<p>Email: <%= @admin_reg_commun.email %></p>
						<br />
						<p>Phone: <%= @admin_reg_commun.phone %></p>
						<br />
						<br />
						<br />
						
						<!--
						#  level_1                   :boolean          default(FALSE)
						#  level_2                   :boolean          default(FALSE)
						#  level_3                   :boolean          default(FALSE)
						#  level_4                   :boolean          default(FALSE)
						#  level_5                   :boolean          default(FALSE)
						#  level_6                   :boolean          default(FALSE)
						#  level_7                   :boolean          default(FALSE)
						#  level_1_text              :string(200)
						#  level_2_text              :string(200)
						#  level_3_text              :string(200)
						#  level_4_text              :string(200)
						#  level_5_text              :string(200)
						#  level_6_text              :string(200)
						#  level_7_text              :string(200)
						-->

						<p>level_1_text: <%= @admin_reg_commun.level_1_text %></p>
						<br />						
						<p>level_1: <%= yesno(@admin_reg_commun.level_1) %></p>
						<br />
						<br />
						<p>level_2_text: <%= @admin_reg_commun.level_2_text %></p>
						<br />						
						<p>level_2: <%= yesno(@admin_reg_commun.level_2) %></p>
						<br />
						<br />
						<p>level_3_text: <%= @admin_reg_commun.level_3_text %></p>
						<br />						
						<p>level_3: <%= yesno(@admin_reg_commun.level_3) %></p>
						<br />
						<br />
						<p>level_4_text: <%= @admin_reg_commun.level_4_text %></p>
						<br />						
						<p>level_4: <%= yesno(@admin_reg_commun.level_4) %></p>
						<br />
						<br />
						<p>level_5_text: <%= @admin_reg_commun.level_5_text %></p>
						<br />						
						<p>level_5: <%= yesno(@admin_reg_commun.level_5) %></p>
						<br />
						<br />
						<p>level_6_text: <%= @admin_reg_commun.level_6_text %></p>
						<br />						
						<p>level_6: <%= yesno(@admin_reg_commun.level_6) %></p>
						<br />
						<br />
						<p>level_7_text: <%= @admin_reg_commun.level_7_text %></p>
						<br />						
						<p>level_7: <%= yesno(@admin_reg_commun.level_7) %></p>
						<br />
						<p>level_other: <%= @admin_reg_commun.level_other %></p>						
						<br />
						<br />
						<br />
						
						<!--
						#  institution_size          :string(50)
						#  characterize_decision     :string(50)
						#  characterize_area         :text
						#  survey_preferences        :text
						#  created_at                :datetime
						#  updated_at                :datetime
						#  level_other               :string(100)
						#  public_private            :string(50)
						#  employee_number           :string(100)
						#  characterize_area_other   :string(200)
						-->
						
						<p>institution_size: <%= @admin_reg_commun.institution_size %></p>
						<br />
						<p>institution_size_text: <%= @admin_reg_commun.institution_size_text %></p>
						<br />
						<p>employee_number: <%= @admin_reg_commun.employee_number %></p>
						<br />
						<p>employee_number_text: <%= @admin_reg_commun.employee_number_text %></p>						
						<br />
						<p>characterize_decision: <%= @admin_reg_commun.characterize_decision %></p>
						<br />
						<p>characterize_decision_text: <%= @admin_reg_commun.characterize_decision_text %></p>
						<br />
						<br />
						<br />
						
						
						<% if false %>						
						<p>characterize_area: <%= @admin_reg_commun.characterize_area %></p>
						<br />
						<p>survey_preferences: <%= @admin_reg_commun.survey_preferences %></p>
						<br />
						<% end %>


						<!--
						#  characterize_area_1       :boolean          default(FALSE)
						#  characterize_area_2       :boolean          default(FALSE)
						#  characterize_area_3       :boolean          default(FALSE)
						#  characterize_area_4       :boolean          default(FALSE)
						#  characterize_area_5       :boolean          default(FALSE)
						#  characterize_area_6       :boolean          default(FALSE)
						#  characterize_area_7       :boolean          default(FALSE)
						#  characterize_area_8       :boolean          default(FALSE)
						#  characterize_area_9       :boolean          default(FALSE)
						#  characterize_area_10      :boolean          default(FALSE)
						#  characterize_area_1_text  :string(200)
						#  characterize_area_2_text  :string(200)
						#  characterize_area_3_text  :string(200)
						#  characterize_area_4_text  :string(200)
						#  characterize_area_5_text  :string(200)
						#  characterize_area_6_text  :string(200)
						#  characterize_area_7_text  :string(200)
						#  characterize_area_8_text  :string(200)
						#  characterize_area_9_text  :string(200)
						#  characterize_area_10_text :string(200)
						-->

						<p>characterize_area_1_text: <%= @admin_reg_commun.characterize_area_1_text %></p>
						<br />
						<p>characterize_area_1: <%= yesno(@admin_reg_commun.characterize_area_1) %></p>
						<br />
						<br />
						<p>characterize_area_2_text: <%= @admin_reg_commun.characterize_area_2_text %></p>
						<br />
						<p>characterize_area_2: <%= yesno(@admin_reg_commun.characterize_area_2) %></p>
						<br />
						<br />
						<p>characterize_area_3_text: <%= @admin_reg_commun.characterize_area_3_text %></p>
						<br />
						<p>characterize_area_3: <%= yesno(@admin_reg_commun.characterize_area_3) %></p>
						<br />
						<br />
						<p>characterize_area_4_text: <%= @admin_reg_commun.characterize_area_4_text %></p>
						<br />
						<p>characterize_area_4: <%= yesno(@admin_reg_commun.characterize_area_4) %></p>
						<br />
						<br />
						<p>characterize_area_5_text: <%= @admin_reg_commun.characterize_area_5_text %></p>
						<br />
						<p>characterize_area_5: <%= yesno(@admin_reg_commun.characterize_area_5) %></p>
						<br />
						<br />
						<p>characterize_area_6_text: <%= @admin_reg_commun.characterize_area_6_text %></p>
						<br />
						<p>characterize_area_6: <%= yesno(@admin_reg_commun.characterize_area_6) %></p>
						<br />
						<br />
						<p>characterize_area_7_text: <%= @admin_reg_commun.characterize_area_7_text %></p>
						<br />
						<p>characterize_area_7: <%= yesno(@admin_reg_commun.characterize_area_7) %></p>
						<br />
						<br />
						<p>characterize_area_8_text: <%= @admin_reg_commun.characterize_area_8_text %></p>
						<br />
						<p>characterize_area_8: <%= yesno(@admin_reg_commun.characterize_area_8) %></p>
						<br />
						<br />
						<p>characterize_area_9_text: <%= @admin_reg_commun.characterize_area_9_text %></p>
						<br />
						<p>characterize_area_9: <%= yesno(@admin_reg_commun.characterize_area_9) %></p>
						<br />
						<br />
						<p>characterize_area_10_text: <%= @admin_reg_commun.characterize_area_10_text %></p>
						<br />
						<p>characterize_area_10: <%= yesno(@admin_reg_commun.characterize_area_10) %></p>
						<br />
						<br />
						<p>characterize_area_other: <%= @admin_reg_commun.characterize_area_other %></p>
						<br />
						<br />
						<br />
						<!--
						#  survey_preferences_1      :boolean          default(FALSE)
						#  survey_preferences_2      :boolean          default(FALSE)
						#  survey_preferences_3      :boolean          default(FALSE)
						#  survey_preferences_4      :boolean          default(FALSE)
						#  survey_preferences_5      :boolean          default(FALSE)
						#  survey_preferences_1_text :string(200)
						#  survey_preferences_2_text :string(200)
						#  survey_preferences_3_text :string(200)
						#  survey_preferences_4_text :string(200)
						#  survey_preferences_5_text :string(200) 
						-->

						<p>survey_preferences_1_text: <%= @admin_reg_commun.survey_preferences_1_text %></p>
						<br />
						<p>survey_preferences_1: <%= yesno(@admin_reg_commun.survey_preferences_1) %></p>
						<br />
						<br />
						<p>survey_preferences_2_text: <%= @admin_reg_commun.survey_preferences_2_text %></p>
						<br />
						<p>survey_preferences_2: <%= yesno(@admin_reg_commun.survey_preferences_2) %></p>
						<br />
						<br />
						<p>survey_preferences_3_text: <%= @admin_reg_commun.survey_preferences_3_text %></p>
						<br />
						<p>survey_preferences_3: <%= yesno(@admin_reg_commun.survey_preferences_3) %></p>
						<br />
						<br />
						<p>survey_preferences_4_text: <%= @admin_reg_commun.survey_preferences_4_text %></p>
						<br />
						<p>survey_preferences_4: <%= yesno(@admin_reg_commun.survey_preferences_4) %></p>
						<br />
						<br />
						<p>survey_preferences_5_text: <%= @admin_reg_commun.survey_preferences_5_text %></p>
						<br />
						<p>survey_preferences_5: <%= yesno(@admin_reg_commun.survey_preferences_5) %></p>
						<br />
					
						<div style="height: 50px;"></div>