
	 <nav style="position: fixed; width: 100%;">	 	
		<div id="topNav">
			
			<ul style="width: 100%; padding-left: 8%;">
				<li><a href="/">Database</a>
					<ul>
						<li><%= link_to 'Contacts', admin_contacts_index_path %></li>
						<li><%= link_to 'Community', admin_reg_communs_path %></li>
						<li><%= link_to 'Events', admin_reg_events_index_path %></li>
						<li><%= link_to 'Events - CBOL', admin_reg_event_conferences_index_path %></li>
						<li><%= link_to 'Letters', admin_reg_letters_index_path %></li>
						<li><%= link_to 'Web Seminars', admin_seminars_index_path %></li>
						<li><%= link_to 'Landing Promo', admin_landings_list_path %></li>
					</ul>					
				</li>
				<li><a href="/">Articles</a>
					<ul>
						<li>
							<%= link_to 'New Article', archives_new_path %>
						</li>
						<li>
							 <%= link_to 'Article List', archives_index_path %>							
						</li>
						<li>
							<%= link_to 'New Slug', friendly_id_slugs_new_path %>
						</li>
						<li>
							 <%= link_to 'Slug List', friendly_id_slugs_index_path %>							
						</li>
					</ul>
				</li>
				<li><a href="/">Item Register</a>
					<ul>
						<li>
							<%= link_to 'New Item', item_registers_new_path %>
						</li>
						<li>
							 <%= link_to 'Item Register List', item_registers_index_path %>							
						</li>
						<li>
							 <%= link_to 'Hit Count List', hit_counts_index_path %>							
						</li>						
					</ul>
				</li>				
				<li><a href="/">Share Files</a>
					<ul>
						<li>
							<%= link_to 'Download', '/share_files_list' %>
						</li>			
						<li>
							<%= link_to 'Upload', '/uploads/show' %>
						</li>
						<li>
							<%= link_to 'Store', '/stores/index' %>
						</li>
						<li>
							<%= link_to 'Tablet', '/tablets/index' %>
						</li>
					</ul>
				</li>
				<li><a href="/">Events Itinerary</a>
					<ul>
						<li>
							<%= link_to 'Events Itinerary', reg_event_itins_index_path %>
						</li>
					</ul>
				</li>
				<li><a href="#">Mail Tablet</a>
					<ul>
						<li>
							<%= link_to 'Mail Tablets', mtablets_index_path %>
						</li>
					</ul>
				</li>
				<% if current_user.super_admin %>
				<li><a href="/">Admin</a>
					<ul>
						<li>
							<%= link_to 'Users', admin_users_index_path %>
						</li>
					</ul>
				</li>
				<% end %>

				<% if signed_in? %>
					<!-- <#% if session[:has_account] %#>		
					<li style="float: right;"><a href="/home">Profile</a></li>
					<#% end %#> -->
					<li style="float: right; padding-right: 10%;"><a href="/signout">Sign Out</a></li>
					<p><%= current_user.name_first %>&nbsp;<%= current_user.name_last %></p>
					<!-- <li style="float: right;"><#%= link_to 'Profile', admin_user_profiles_index_path %#></li> -->
				<% else %>
					<li style="float: right; padding-right: 40px;"><a href="/signin">Sign In</a></li>
				<% end %>

				<% if false %>				
				<% if !session[:username] %>
					<li style="float: right; padding-right: 40px;"><a href="/signin">Sign In</a></li>
				<% else %>
					<% if session[:has_account] %>		
					<li style="float: right;"><a href="/home">Profile</a></li>
					<% end %>
					<li style="float: right; padding-right: 10%;"><a href="/signout">Sign Out</a></li>
					<p><%= session[:username] %></p>
					<li style="float: right;"><%= link_to 'Profile', admin_user_profiles_index_path %></li>
				<% end %>
				<% end %>
				
			</ul>
		</div>
	</nav>

    <script>
      
        (function($){  
            var nav = $("#topNav");  
            nav.find("li").each(function() {  
                if ($(this).find("ul").length > 0) {  
                    $(this).mouseenter(function() {  
                        $(this).find("ul").stop(true, true).slideDown(300);  
                    });  
                    $(this).mouseleave(function() {  
                        $(this).find("ul").stop(true, true).slideUp(300);  
                    });  
                }  
            });  
        })(jQuery);
          
    </script>  
