<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
								    	
  		<title><%= full_title(yield(:title)) %></title> 

    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
   		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>    		   		
  		
		<link rel="icon" type="image/png" href="/assets/logo-lc-round-fav.png" />
    	
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  

  		<%= include_gon %>
	
		                		
    </head>
	<body>
		
			<%= render 'layouts/nav_admin' %>
		 		
		<!-- <div style="width: 1300px; margin-right: auto; margin-left: auto;"> -->
						
			<%= yield %> 

		<!-- </div> -->

		<%= render 'layouts/footer_admin' %>

		<%= debug(params) if Rails.env.development? %>
		
	</body>
</html>
