<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">

  		<title><%= full_title(yield(:title)) %></title> 
  		
    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  		
  		
		<link rel="icon" type="image/png" href="/assets/logo-lc-round-fav.png" />
  		
  		
   		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>    		   		
    	
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  
  		
	<style>
	
		#signin-body {
			background-color: #C7C7C7;
		}
	
	</style>

    </head>
    <body id="signin-body">
		
		 <!-- if !session[:admin] 	
			 render 'layouts/header' 
		 else 
			 render 'layouts/header_admin' 			
		 end  -->
		 		
		<!-- <div style="width: 1000px; margin-right: auto; margin-left: auto;">			 -->
						
			<%= yield %> 
	
			 <!-- render 'layouts/footer'  -->
			 			
			<%= debug(params) if Rails.env.development? %>
		
		<!-- </div> -->		
		
    </body>
</html>
