<!DOCTYPE html>
<html>
    <head>
    	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="learning counsel survey education standard media">
	<meta name="description" content="easyui help you build your web page easily!"> -->    	
    	
  		<title><%= full_title(yield(:title)) %></title> 
  		
    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>  		
  		
    	<%= javascript_include_tag "jquery", "application" %>  		
  		
		<link rel="stylesheet" type="text/css" href="http://abelardo-jas.com/assets/easyui/themes/pepper-grinder/easyui.css">
		<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>				

			
	  	<%= csrf_meta_tags %>
	  	
  		<%= include_gon %>
	  	
	  	<%= render 'layouts/shim' %>  

	

	<script>

		
	</script>

    </head>
    <body>

        <div id="main">
        	
            <div>
            	<h1>The Learning Counsel</h1>
            </div>
            <div>
                <p><%= session[:username] %></p>
            </div>
                        
            <%= render(:partial => "share/menu_bar") %> 
    	        
	  		<%= yield %> 
        
      		<%= render(:partial => "share/footer") %>
      		
      		survey layout
      		
			<%= debug(params) %>      		
      
        </div>

    </body>
</html>
